<a href="https://colab.research.google.com/github/songjeongmin86/20240716/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pandas 불러오기
import pandas as pd

# CSV 파일을 읽는다. 인코딩은 utf-8.
df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

# 표의 시작 부분을 확인한다.
print(df.head())

# 열(컬럼) 이름 목록을 확인한다.
print(df.columns)

# 현재 읽어온 행(줄) 개수를 본다.
print(len(df))

   NO    MOVIE_NM    DRCTR_NM             MAKR_NM       INCME_CMPNY_NM  \
0   1         소방관         곽경택  주식회사 에스크로드,(주)아센디오                  NaN
1   2         하얼빈         우민호         (주)하이브미디어코프                  NaN
2   3       모아나 2  데이브 데릭 주니어                 NaN   월트디즈니컴퍼니코리아 유한책임회사
3   4         위키드         존 추                 NaN  유니버설픽쳐스인터내셔널 코리아(유)
4   5  무파사: 라이온 킹      배리 젠킨스                 NaN   월트디즈니컴퍼니코리아 유한책임회사

        DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM  \
0          (주)바이포엠스튜디오  20241204        개봉영화            장편      한국
1            (주)씨제이이엔엠  20241224        개봉영화            장편      한국
2   월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국
3  유니버설픽쳐스인터내셔널 코리아(유)  20241120        개봉영화            장편      미국
4   월트디즈니컴퍼니코리아 유한책임회사  20241218        개봉영화            장편      미국

  TOT_SCRN_CO     SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE  \
0       1,414  31,098,609,690      3,310,341     5,577,561,060
1       2,125  26,249,313,820      2,755,264     6,393,839,080
2       1,985  22,729,974,820      2,441,853     4,788,240,490
3       1,803   9,685,624,650        987,630     4,133,427,520
4       1,243   6,544,245,050        656,685     1,915,587,910

  SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM MOVIE_SDIV_NM
0              575,587      드라마  12세이상관람가          일반영화
1              643,803      드라마  15세이상관람가          일반영화
2              491,675    애니메이션     전체관람가          일반영화
3              409,409      판타지     전체관람가          일반영화
4              177,432    애니메이션     전체관람가          일반영화
Index(['NO', 'MOVIE_NM', 'DRCTR_NM', 'MAKR_NM', 'INCME_CMPNY_NM',
       'DISTB_CMPNY_NM', 'OPN_DE', 'MOVIE_TY_NM', 'MOVIE_STLE_NM', 'NLTY_NM',
       'TOT_SCRN_CO', 'SALES_PRICE', 'VIEWNG_NMPR_CO', 'SEOUL_SALES_PRICE',
       'SEOUL_VIEWNG_NMPR_CO', 'GENRE_NM', 'GRAD_NM', 'MOVIE_SDIV_NM'],
      dtype='object')
100

In [2]:
import pandas as pd

df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

# 예시: 첫 번째 열과 두 번째 열만 골라보기
# df.columns[0], df.columns[1]은 실제 열 이름을 자동으로 가져온다.
two_cols = df[[df.columns[0], df.columns[1]]]
# two_cols = df[['NO', 'MOVIE_NM']]
print(two_cols)

# 한 개 열만 골라보기(Series)
one_col = df[df.columns[1]]
print(one_col)

print(df['MOVIE_NM'])

     NO               MOVIE_NM
0     1                    소방관
1     2                    하얼빈
2     3                  모아나 2
3     4                    위키드
4     5             무파사: 라이온 킹
..  ...                    ...
95   96                  리틀 엠마
96   97                 씨앗의 시간
97   98                    브리드
98   99  명탐정 코난: 100만 달러의 펜타그램
99  100                블루 자이언트

[100 rows x 2 columns]
0                       소방관
1                       하얼빈
2                     모아나 2
3                       위키드
4                무파사: 라이온 킹
              ...
95                    리틀 엠마
96                   씨앗의 시간
97                      브리드
98    명탐정 코난: 100만 달러의 펜타그램
99                  블루 자이언트
Name: MOVIE_NM, Length: 100, dtype: object
0                       소방관
1                       하얼빈
2                     모아나 2
3                       위키드
4                무파사: 라이온 킹
              ...
95                    리틀 엠마
96                   씨앗의 시간
97                      브리드
98    명탐정 코난: 100만 달러의 펜타그램
99                  블루 자이언트
Name: MOVIE_NM, Length: 100, dtype: object

In [3]:
import pandas as pd

df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

# 특정 행 한 줄(0번째 행)
print(df.iloc[0])

# 특정 위치의 값(1번째 행, 1번째 열)
print(df.iloc[1, 1])

# 행 범위 선택: 0~2행(0,1,2)
print(df.iloc[0:3])

NO                                       1
MOVIE_NM                               소방관
DRCTR_NM                               곽경택
MAKR_NM                 주식회사 에스크로드,(주)아센디오
INCME_CMPNY_NM                         NaN
DISTB_CMPNY_NM                 (주)바이포엠스튜디오
OPN_DE                            20241204
MOVIE_TY_NM                           개봉영화
MOVIE_STLE_NM                           장편
NLTY_NM                                 한국
TOT_SCRN_CO                          1,414
SALES_PRICE                 31,098,609,690
VIEWNG_NMPR_CO                   3,310,341
SEOUL_SALES_PRICE            5,577,561,060
SEOUL_VIEWNG_NMPR_CO               575,587
GENRE_NM                               드라마
GRAD_NM                           12세이상관람가
MOVIE_SDIV_NM                         일반영화
Name: 0, dtype: object
하얼빈
   NO MOVIE_NM    DRCTR_NM             MAKR_NM      INCME_CMPNY_NM  \
0   1      소방관         곽경택  주식회사 에스크로드,(주)아센디오                 NaN
1   2      하얼빈         우민호         (주)하이브미디어코프                 NaN
2   3    모아나 2  데이브 데릭 주니어                 NaN  월트디즈니컴퍼니코리아 유한책임회사

       DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO  \
0         (주)바이포엠스튜디오  20241204        개봉영화            장편      한국       1,414
1           (주)씨제이이엔엠  20241224        개봉영화            장편      한국       2,125
2  월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국       1,985

      SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO  \
0  31,098,609,690      3,310,341     5,577,561,060              575,587
1  26,249,313,820      2,755,264     6,393,839,080              643,803
2  22,729,974,820      2,441,853     4,788,240,490              491,675

  GENRE_NM   GRAD_NM MOVIE_SDIV_NM
0      드라마  12세이상관람가          일반영화
1      드라마  15세이상관람가          일반영화
2    애니메이션     전체관람가          일반영화

In [19]:
print(df.iloc[2:3])  # 특정 행 한 줄(2번째 행)
print(df.iloc[0:2]) # 행 범위 선택: 0~1행(0,1)
print(df.iloc[3, 3])  # 특정 위치의 값(1번째 행, 0번째 열)

   NO MOVIE_NM    DRCTR_NM MAKR_NM      INCME_CMPNY_NM      DISTB_CMPNY_NM  \
2   3    모아나 2  데이브 데릭 주니어     NaN  월트디즈니컴퍼니코리아 유한책임회사  월트디즈니컴퍼니코리아 유한책임회사

     OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO     SALES_PRICE  \
2  20241127        개봉영화            장편      미국       1,985  22,729,974,820

  VIEWNG_NMPR_CO SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO GENRE_NM GRAD_NM  \
2      2,441,853     4,788,240,490              491,675    애니메이션   전체관람가

  MOVIE_SDIV_NM
2          일반영화
   NO MOVIE_NM DRCTR_NM             MAKR_NM INCME_CMPNY_NM DISTB_CMPNY_NM  \
0   1      소방관      곽경택  주식회사 에스크로드,(주)아센디오            NaN    (주)바이포엠스튜디오
1   2      하얼빈      우민호         (주)하이브미디어코프            NaN      (주)씨제이이엔엠

     OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO     SALES_PRICE  \
0  20241204        개봉영화            장편      한국       1,414  31,098,609,690
1  20241224        개봉영화            장편      한국       2,125  26,249,313,820

  VIEWNG_NMPR_CO SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM  \
0      3,310,341     5,577,561,060              575,587      드라마  12세이상관람가
1      2,755,264     6,393,839,080              643,803      드라마  15세이상관람가

  MOVIE_SDIV_NM
0          일반영화
1          일반영화
nan

In [4]:
import pandas as pd

df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

print(df.columns)  # 실제 열 이름 확인

# 예시: 첫 번째 열 이름만 사용해 모든 행을 선택
first_col_name = 'NO'
# first_col_name = df.columns[0]
print()
print(f'first_col_name : {first_col_name}')
print()
print(df.loc[:, first_col_name])

# 예시: 첫 번째 행의 첫 번째 열
print(df.loc[0, first_col_name])

Index(['NO', 'MOVIE_NM', 'DRCTR_NM', 'MAKR_NM', 'INCME_CMPNY_NM',
       'DISTB_CMPNY_NM', 'OPN_DE', 'MOVIE_TY_NM', 'MOVIE_STLE_NM', 'NLTY_NM',
       'TOT_SCRN_CO', 'SALES_PRICE', 'VIEWNG_NMPR_CO', 'SEOUL_SALES_PRICE',
       'SEOUL_VIEWNG_NMPR_CO', 'GENRE_NM', 'GRAD_NM', 'MOVIE_SDIV_NM'],
      dtype='object')

first_col_name : NO

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: NO, Length: 100, dtype: int64
1

In [8]:
c2 = df.columns[1]
print(f'c2  : {c2 }')
print(df.loc[:, c2])

c2  : MOVIE_NM
0                       소방관
1                       하얼빈
2                     모아나 2
3                       위키드
4                무파사: 라이온 킹
              ...
95                    리틀 엠마
96                   씨앗의 시간
97                      브리드
98    명탐정 코난: 100만 달러의 펜타그램
99                  블루 자이언트
Name: MOVIE_NM, Length: 100, dtype: object

In [9]:
print(df.loc[0, c2])

소방관

In [10]:
print(df.loc[:, ['NO', 'MOVIE_NM']])
# print(df.loc[:, [df.columns[0], df.columns[1]]])

     NO               MOVIE_NM
0     1                    소방관
1     2                    하얼빈
2     3                  모아나 2
3     4                    위키드
4     5             무파사: 라이온 킹
..  ...                    ...
95   96                  리틀 엠마
96   97                 씨앗의 시간
97   98                    브리드
98   99  명탐정 코난: 100만 달러의 펜타그램
99  100                블루 자이언트

[100 rows x 2 columns]

In [5]:
import pandas as pd

df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

# 한 개 열만 고르면 Series
s = df['NO']
print(type(s))  # Series

# 여러 열을 고르면 DataFrame
d = df[['NO', 'MOVIE_NM']]
print(type(d))  # DataFrame

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [11]:
s3 = df[df.columns[2]]
print(type(s3))
print(s3.shape)

<class 'pandas.core.series.Series'>
(100,)

In [12]:
d13 = df[[df.columns[0], df.columns[2]]]
print(type(d13))
print(d13.shape)

<class 'pandas.core.frame.DataFrame'>
(100, 2)

In [13]:
print(s3.head(3))

0           곽경택
1           우민호
2    데이브 데릭 주니어
Name: DRCTR_NM, dtype: object

In [20]:
import pandas as pd

# CSV 파일 읽기 (utf-8 인코딩)
df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

# 실제 열 이름 확인
print(df.columns)

# 예시: 개봉일(OPN_DE) 기준으로 오름차순 정렬
col = "OPN_DE"     # 개봉일(예: 20241204 형식의 정수)
df_sorted = df.sort_values(col, ascending=True)

print(df_sorted.head())

Index(['NO', 'MOVIE_NM', 'DRCTR_NM', 'MAKR_NM', 'INCME_CMPNY_NM',
       'DISTB_CMPNY_NM', 'OPN_DE', 'MOVIE_TY_NM', 'MOVIE_STLE_NM', 'NLTY_NM',
       'TOT_SCRN_CO', 'SALES_PRICE', 'VIEWNG_NMPR_CO', 'SEOUL_SALES_PRICE',
       'SEOUL_VIEWNG_NMPR_CO', 'GENRE_NM', 'GRAD_NM', 'MOVIE_SDIV_NM'],
      dtype='object')
     NO    MOVIE_NM   DRCTR_NM   MAKR_NM INCME_CMPNY_NM        DISTB_CMPNY_NM  \
99  100     블루 자이언트   타치카와 유즈루       NaN        판씨네마(주)               판씨네마(주)
59   60          괴물  고레에다 히로카즈       NaN       (주)미디어캐슬   (주)넥스트엔터테인먼트월드(NEW)
73   74          소풍        김용균  (주)로케트필름            NaN     롯데컬처웍스(주)롯데엔터테인먼트
85   86       로봇 드림   파블로 베르헤르       NaN      (주)영화사 진진  (주)영화사 진진,(주)하이스트레인저
48   49  존 오브 인터레스트   조나단 글레이저       NaN             찬란           TCO(주)더콘텐츠온

      OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO SALES_PRICE  \
99  20231018        개봉영화            장편      일본         574   3,769,300
59  20231129        개봉영화            장편      일본         647  17,552,400
73  20240207        개봉영화            장편      한국         729  12,101,000
85  20240313        개봉영화            장편     스페인         114   6,137,900
48  20240605        개봉영화            장편      미국         392  26,568,546

   VIEWNG_NMPR_CO SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM  \
99            329         3,769,300                  329    애니메이션  12세이상관람가
59          1,870        14,440,000                1,541      드라마  12세이상관람가
73          1,180                 0                    0      드라마  12세이상관람가
85            651         3,434,900                  357    애니메이션     전체관람가
48          2,932        17,858,746                2,013      드라마  12세이상관람가

   MOVIE_SDIV_NM
99       독립/예술영화
59       독립/예술영화
73       독립/예술영화
85       독립/예술영화
48       독립/예술영화

In [21]:
df_sorted = df.sort_values("OPN_DE", ascending=False)
print(df_sorted.head())

    NO         MOVIE_NM        DRCTR_NM            MAKR_NM INCME_CMPNY_NM  \
19  20     시빌 워: 분열의 시대         알렉스 가랜드                NaN    (주)더쿱디스트리뷰션
10  11   보고타: 마지막 기회의 땅             김성제  (주)영화사수박,(주)이디오플랜            NaN
17  18      더 폴: 디렉터스 컷            타셈 싱                NaN             오드
13  14  니코: 오로라 원정대의 모험  캐리 주스넌,요르겐 레르담                NaN     (주)블루라벨픽쳐스
89  90             면접교섭             이주아              감성스토리            NaN

           DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM  \
19               (주)마인드마크  20241231        개봉영화            장편      미국
10            플러스엠 엔터테인먼트  20241231        개봉영화            장편      한국
17                     오드  20241225        개봉영화            장편      영국
13  TCO(주)더콘텐츠온,메가박스중앙(주)  20241225        개봉영화            장편      독일
89                   필름다빈  20241225        개봉영화            장편      한국

   TOT_SCRN_CO  SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE  \
19         662  226,802,160         22,767        87,064,300
10       1,029  905,383,890        100,948       253,536,280
17          89  291,794,800         26,925       162,641,600
13         393  456,061,700         51,449       127,296,560
89          11    4,937,300            523         4,338,800

   SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM MOVIE_SDIV_NM
19                8,342       액션  15세이상관람가       독립/예술영화
10               27,980       범죄  15세이상관람가          일반영화
17               14,898      드라마  12세이상관람가          일반영화
13               13,274    애니메이션     전체관람가          일반영화
89                  454    다큐멘터리     전체관람가       독립/예술영화

In [22]:
df_sorted = df.sort_values("DRCTR_NM", ascending=True)
print(df_sorted.head())

    NO                 MOVIE_NM                                DRCTR_NM  \
42  43  빌리와 용감한 녀석들: 스노우 베어 구조대  가브리엘 리바 팔라시오 알라트리스테,로돌포 리바 팔라시오 알라트리스테
59  60                       괴물                               고레에다 히로카즈
0    1                      소방관                                     곽경택
91  92                       루프                                     구상범
64  65                      아들들                                 구스타브 몰러

               MAKR_NM INCME_CMPNY_NM       DISTB_CMPNY_NM    OPN_DE  \
42                 NaN    (주)박수엔터테인먼트          (주)박수엔터테인먼트  20241107
59                 NaN       (주)미디어캐슬  (주)넥스트엔터테인먼트월드(NEW)  20231129
0   주식회사 에스크로드,(주)아센디오            NaN          (주)바이포엠스튜디오  20241204
91     한국영상대학교,(주)무림산업            NaN             (주)이놀미디어  20241204
64                 NaN            해피송                  해피송  20241204

   MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO     SALES_PRICE  \
42        개봉영화            장편     멕시코         323      28,257,800
59        개봉영화            장편      일본         647      17,552,400
0         개봉영화            장편      한국       1,414  31,098,609,690
91        개봉영화            장편      한국          16       4,926,900
64        개봉영화            장편     덴마크          38      13,645,300

   VIEWNG_NMPR_CO SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM  \
42          4,515                 0                    0    애니메이션     전체관람가
59          1,870        14,440,000                1,541      드라마  12세이상관람가
0       3,310,341     5,577,561,060              575,587      드라마  12세이상관람가
91            487         2,890,700                  284      드라마   청소년관람불가
64          1,516         8,861,900                  942      드라마  15세이상관람가

   MOVIE_SDIV_NM
42          일반영화
59       독립/예술영화
0           일반영화
91       독립/예술영화
64       독립/예술영화

In [23]:
df_name_sorted = df.sort_values("MOVIE_NM")
print(df_name_sorted.head())

    NO     MOVIE_NM   DRCTR_NM           MAKR_NM INCME_CMPNY_NM  \
7    8           1승        신연식       (주) 루스이소니도스            NaN
58  59  X를 담아, 당신에게      테아 샤록               NaN        주식회사 왓챠
33  34     괜찮아, 앨리스        양지혜             오마이뉴스            NaN
59  60           괴물  고레에다 히로카즈               NaN       (주)미디어캐슬
79  80         그녀에게        이상철  애즈필름,프로덕션 에스에프에스            NaN

                      DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM  \
7   (주)콘텐츠지오,(주)키다리스튜디오,(주)아티스트유나이티드  20241204        개봉영화            장편
58                           주식회사 왓챠  20241211        개봉영화            장편
33                          미디어나무(주)  20241113        개봉영화            장편
59               (주)넥스트엔터테인먼트월드(NEW)  20231129        개봉영화            장편
79                           영화로운 형제  20240911        개봉영화            장편

   NLTY_NM TOT_SCRN_CO    SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE  \
7       한국         995  2,669,515,130        307,290       747,380,180
58      영국          27     18,106,300          2,030        12,292,800
33      한국          99     51,211,300          5,793         9,767,500
59      일본         647     17,552,400          1,870        14,440,000
79      한국         148      8,286,000            894         4,490,000

   SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM MOVIE_SDIV_NM
7                83,313      드라마  12세이상관람가          일반영화
58                1,293      코미디  15세이상관람가       독립/예술영화
33                1,141    다큐멘터리     전체관람가       독립/예술영화
59                1,541      드라마  12세이상관람가       독립/예술영화
79                  418      드라마  12세이상관람가       독립/예술영화

In [24]:
import pandas as pd

df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

# 예시 1: 장르 → 관객수 순으로 정렬
# 관객수(VIEWNG_NMPR_CO)는 현재 문자열이므로, 정렬 전에 숫자로 변환하는 것이 좋습니다.
df["VIEWNG_NMPR_CO"] = (
    df["VIEWNG_NMPR_CO"]
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.strip()
    .astype(int)
)

df_sorted2 = df.sort_values(
    by=["GENRE_NM", "VIEWNG_NMPR_CO"],  # 장르, 관객수
    ascending=[True, False]            # 장르는 오름차순, 관객수는 내림차순
)
print(df_sorted2.head())

# 예시 2: 국가(NLTY_NM) → 영화명(MOVIE_NM) 순으로 정렬
df_sorted3 = df.sort_values(
    by=["NLTY_NM", "MOVIE_NM"],
    ascending=[True, True]
)
print(df_sorted3.head())

    NO   MOVIE_NM DRCTR_NM      MAKR_NM INCME_CMPNY_NM DISTB_CMPNY_NM  \
83  84        세입자      윤은경        올로미디어            NaN         ㈜인디스토리
97  98        브리드      NaN          NaN      주식회사 풍경소리      주식회사 풍경소리
23  24  저니 투 베들레헴      NaN          NaN            NaN             길갈
39  40      언니 유정      정해일  ㈜스튜디오 하이파이브            NaN             찬란
93  94     자기만의 방      오세호      (주)엠픽처스            NaN        (주)씨네필운

      OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO  SALES_PRICE  \
83  20241204        개봉영화            장편      한국          25    7,179,400
97  20241212        개봉영화            장편      미국          23    2,209,000
23  20241120        개봉영화            장편      미국          76  128,365,500
39  20241204        개봉영화            장편      한국          56   44,545,700
93  20241120        개봉영화            장편      한국          27    6,091,000

    VIEWNG_NMPR_CO SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM  \
83             810         3,913,400                  403       SF  15세이상관람가
97             379           100,000                   20       SF  15세이상관람가
23           13515        36,099,600                3,723       가족     전체관람가
39            4962        25,706,100                2,698       가족  12세이상관람가
93             471         1,038,000                   78       가족  12세이상관람가

   MOVIE_SDIV_NM
83       독립/예술영화
97          일반영화
23          일반영화
39       독립/예술영화
93       독립/예술영화
    NO           MOVIE_NM        DRCTR_NM MAKR_NM INCME_CMPNY_NM  \
62  63  모든 것은 아르망에서 시작되었다             NaN     NaN      (주)영화사 진진
29  30         여름날의 레몬그라스             NaN     NaN    (주)더쿱디스트리뷰션
64  65                아들들         구스타브 몰러     NaN            해피송
69  70        파라다이스 이즈 버닝             NaN     NaN             몽상
13  14    니코: 오로라 원정대의 모험  캐리 주스넌,요르겐 레르담     NaN     (주)블루라벨픽쳐스

                  DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM  \
62                     (주)영화사 진진  20241225        개봉영화            장편    노르웨이
29  (주)제이에이와이이엔터테인먼트,(주)더쿱디스트리뷰션  20241127        개봉영화            장편      대만
64                           해피송  20241204        개봉영화            장편     덴마크
69                     (주)트리플픽쳐스  20241218        개봉영화            장편     덴마크
13         TCO(주)더콘텐츠온,메가박스중앙(주)  20241225        개봉영화            장편      독일

   TOT_SCRN_CO  SALES_PRICE  VIEWNG_NMPR_CO SEOUL_SALES_PRICE  \
62          24   15,188,100            1741        10,943,900
29          72   42,251,000            7469        18,433,400
64          38   13,645,300            1516         8,861,900
69          24   14,126,000            1406        12,109,200
13         393  456,061,700           51449       127,296,560

   SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM MOVIE_SDIV_NM
62                1,223      드라마  12세이상관람가       독립/예술영화
29                3,264   멜로/로맨스  12세이상관람가       독립/예술영화
64                  942      드라마  15세이상관람가       독립/예술영화
69                1,181      드라마   청소년관람불가       독립/예술영화
13               13,274    애니메이션     전체관람가          일반영화

In [25]:
df_sorted4 = df.sort_values(
    by=["GENRE_NM", "OPN_DE"],
    ascending=[True, True]
)
print(df_sorted4.head())

    NO   MOVIE_NM DRCTR_NM      MAKR_NM INCME_CMPNY_NM DISTB_CMPNY_NM  \
83  84        세입자      윤은경        올로미디어            NaN         ㈜인디스토리
97  98        브리드      NaN          NaN      주식회사 풍경소리      주식회사 풍경소리
23  24  저니 투 베들레헴      NaN          NaN            NaN             길갈
93  94     자기만의 방      오세호      (주)엠픽처스            NaN        (주)씨네필운
39  40      언니 유정      정해일  ㈜스튜디오 하이파이브            NaN             찬란

      OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO  SALES_PRICE  \
83  20241204        개봉영화            장편      한국          25    7,179,400
97  20241212        개봉영화            장편      미국          23    2,209,000
23  20241120        개봉영화            장편      미국          76  128,365,500
93  20241120        개봉영화            장편      한국          27    6,091,000
39  20241204        개봉영화            장편      한국          56   44,545,700

    VIEWNG_NMPR_CO SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM  \
83             810         3,913,400                  403       SF  15세이상관람가
97             379           100,000                   20       SF  15세이상관람가
23           13515        36,099,600                3,723       가족     전체관람가
93             471         1,038,000                   78       가족  12세이상관람가
39            4962        25,706,100                2,698       가족  12세이상관람가

   MOVIE_SDIV_NM
83       독립/예술영화
97          일반영화
23          일반영화
93       독립/예술영화
39       독립/예술영화

In [31]:
df_sorted5 = df.sort_values(
    by=["NLTY_NM", "MOVIE_NM"],
    ascending=[False, True]
)
print(df_sorted5.head())

   NO    MOVIE_NM    DRCTR_NM             MAKR_NM       INCME_CMPNY_NM  \
0   1         소방관         곽경택  주식회사 에스크로드,(주)아센디오                  NaN
1   2         하얼빈         우민호         (주)하이브미디어코프                  NaN
2   3       모아나 2  데이브 데릭 주니어                 NaN   월트디즈니컴퍼니코리아 유한책임회사
4   5  무파사: 라이온 킹      배리 젠킨스                 NaN   월트디즈니컴퍼니코리아 유한책임회사
3   4         위키드         존 추                 NaN  유니버설픽쳐스인터내셔널 코리아(유)

        DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM  ...  \
0          (주)바이포엠스튜디오  20241204        개봉영화            장편      한국  ...
1            (주)씨제이이엔엠  20241224        개봉영화            장편      한국  ...
2   월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국  ...
4   월트디즈니컴퍼니코리아 유한책임회사  20241218        개봉영화            장편      미국  ...
3  유니버설픽쳐스인터내셔널 코리아(유)  20241120        개봉영화            장편      미국  ...

      SALES_PRICE VIEWNG_NMPR_CO  SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO  \
0  31,098,609,690        3310341      5,577,561,060              575,587
1  26,249,313,820        2755264      6,393,839,080              643,803
2  22,729,974,820        2441853      4,788,240,490              491,675
4   6,544,245,050         656685      1,915,587,910              177,432
3   9,685,624,650         987630      4,133,427,520              409,409

  GENRE_NM   GRAD_NM MOVIE_SDIV_NM    관객수_만명   관객수_2배     스크린당_관객수
0      드라마  12세이상관람가          일반영화  331.0341  6620682  2341.118105
1      드라마  15세이상관람가          일반영화  275.5264  5510528  1296.594824
2    애니메이션     전체관람가          일반영화  244.1853  4883706  1230.152645
4    애니메이션     전체관람가          일반영화   65.6685  1313370   528.306516
3      판타지     전체관람가          일반영화   98.7630  1975260   547.770383

[5 rows x 21 columns]

In [27]:
print(df_sorted2.head(3))

    NO   MOVIE_NM DRCTR_NM MAKR_NM INCME_CMPNY_NM DISTB_CMPNY_NM    OPN_DE  \
83  84        세입자      윤은경   올로미디어            NaN         ㈜인디스토리  20241204
97  98        브리드      NaN     NaN      주식회사 풍경소리      주식회사 풍경소리  20241212
23  24  저니 투 베들레헴      NaN     NaN            NaN             길갈  20241120

   MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO  SALES_PRICE  VIEWNG_NMPR_CO  \
83        개봉영화            장편      한국          25    7,179,400             810
97        개봉영화            장편      미국          23    2,209,000             379
23        개봉영화            장편      미국          76  128,365,500           13515

   SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM MOVIE_SDIV_NM
83         3,913,400                  403       SF  15세이상관람가       독립/예술영화
97           100,000                   20       SF  15세이상관람가          일반영화
23        36,099,600                3,723       가족     전체관람가          일반영화

In [28]:
import pandas as pd

df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8", nrows=5)

# 관객수(VIEWNG_NMPR_CO), 상영관 수(TOT_SCRN_CO)를 정수로 변환
df["VIEWNG_NMPR_CO"] = (
    df["VIEWNG_NMPR_CO"]
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.strip()
    .astype(int)
)

df["TOT_SCRN_CO"] = (
    df["TOT_SCRN_CO"]
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.strip()
    .astype(int)
)

# 예시: 관객수를 "만 명 단위"로 나눈 열 추가
df["관객수_만명"] = df["VIEWNG_NMPR_CO"] / 10000

print(df.head())
print(df.info())

   NO    MOVIE_NM    DRCTR_NM             MAKR_NM       INCME_CMPNY_NM  \
0   1         소방관         곽경택  주식회사 에스크로드,(주)아센디오                  NaN
1   2         하얼빈         우민호         (주)하이브미디어코프                  NaN
2   3       모아나 2  데이브 데릭 주니어                 NaN   월트디즈니컴퍼니코리아 유한책임회사
3   4         위키드         존 추                 NaN  유니버설픽쳐스인터내셔널 코리아(유)
4   5  무파사: 라이온 킹      배리 젠킨스                 NaN   월트디즈니컴퍼니코리아 유한책임회사

        DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM  \
0          (주)바이포엠스튜디오  20241204        개봉영화            장편      한국
1            (주)씨제이이엔엠  20241224        개봉영화            장편      한국
2   월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국
3  유니버설픽쳐스인터내셔널 코리아(유)  20241120        개봉영화            장편      미국
4   월트디즈니컴퍼니코리아 유한책임회사  20241218        개봉영화            장편      미국

   TOT_SCRN_CO     SALES_PRICE  VIEWNG_NMPR_CO SEOUL_SALES_PRICE  \
0         1414  31,098,609,690         3310341     5,577,561,060
1         2125  26,249,313,820         2755264     6,393,839,080
2         1985  22,729,974,820         2441853     4,788,240,490
3         1803   9,685,624,650          987630     4,133,427,520
4         1243   6,544,245,050          656685     1,915,587,910

  SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM MOVIE_SDIV_NM    관객수_만명
0              575,587      드라마  12세이상관람가          일반영화  331.0341
1              643,803      드라마  15세이상관람가          일반영화  275.5264
2              491,675    애니메이션     전체관람가          일반영화  244.1853
3              409,409      판타지     전체관람가          일반영화   98.7630
4              177,432    애니메이션     전체관람가          일반영화   65.6685
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NO                    5 non-null      int64
 1   MOVIE_NM              5 non-null      object
 2   DRCTR_NM              5 non-null      object
 3   MAKR_NM               2 non-null      object
 4   INCME_CMPNY_NM        3 non-null      object
 5   DISTB_CMPNY_NM        5 non-null      object
 6   OPN_DE                5 non-null      int64
 7   MOVIE_TY_NM           5 non-null      object
 8   MOVIE_STLE_NM         5 non-null      object
 9   NLTY_NM               5 non-null      object
 10  TOT_SCRN_CO           5 non-null      int64
 11  SALES_PRICE           5 non-null      object
 12  VIEWNG_NMPR_CO        5 non-null      int64
 13  SEOUL_SALES_PRICE     5 non-null      object
 14  SEOUL_VIEWNG_NMPR_CO  5 non-null      object
 15  GENRE_NM              5 non-null      object
 16  GRAD_NM               5 non-null      object
 17  MOVIE_SDIV_NM         5 non-null      object
 18  관객수_만명                5 non-null      float64
dtypes: float64(1), int64(4), object(14)
memory usage: 892.0+ bytes
None

In [29]:
df["관객수_2배"] = df["VIEWNG_NMPR_CO"] * 2
print(df.head())

   NO    MOVIE_NM    DRCTR_NM             MAKR_NM       INCME_CMPNY_NM  \
0   1         소방관         곽경택  주식회사 에스크로드,(주)아센디오                  NaN
1   2         하얼빈         우민호         (주)하이브미디어코프                  NaN
2   3       모아나 2  데이브 데릭 주니어                 NaN   월트디즈니컴퍼니코리아 유한책임회사
3   4         위키드         존 추                 NaN  유니버설픽쳐스인터내셔널 코리아(유)
4   5  무파사: 라이온 킹      배리 젠킨스                 NaN   월트디즈니컴퍼니코리아 유한책임회사

        DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM  \
0          (주)바이포엠스튜디오  20241204        개봉영화            장편      한국
1            (주)씨제이이엔엠  20241224        개봉영화            장편      한국
2   월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국
3  유니버설픽쳐스인터내셔널 코리아(유)  20241120        개봉영화            장편      미국
4   월트디즈니컴퍼니코리아 유한책임회사  20241218        개봉영화            장편      미국

   TOT_SCRN_CO     SALES_PRICE  VIEWNG_NMPR_CO SEOUL_SALES_PRICE  \
0         1414  31,098,609,690         3310341     5,577,561,060
1         2125  26,249,313,820         2755264     6,393,839,080
2         1985  22,729,974,820         2441853     4,788,240,490
3         1803   9,685,624,650          987630     4,133,427,520
4         1243   6,544,245,050          656685     1,915,587,910

  SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM MOVIE_SDIV_NM    관객수_만명   관객수_2배
0              575,587      드라마  12세이상관람가          일반영화  331.0341  6620682
1              643,803      드라마  15세이상관람가          일반영화  275.5264  5510528
2              491,675    애니메이션     전체관람가          일반영화  244.1853  4883706
3              409,409      판타지     전체관람가          일반영화   98.7630  1975260
4              177,432    애니메이션     전체관람가          일반영화   65.6685  1313370

In [30]:
df["스크린당_관객수"] = df["VIEWNG_NMPR_CO"] / df["TOT_SCRN_CO"]
print(df.head())

   NO    MOVIE_NM    DRCTR_NM             MAKR_NM       INCME_CMPNY_NM  \
0   1         소방관         곽경택  주식회사 에스크로드,(주)아센디오                  NaN
1   2         하얼빈         우민호         (주)하이브미디어코프                  NaN
2   3       모아나 2  데이브 데릭 주니어                 NaN   월트디즈니컴퍼니코리아 유한책임회사
3   4         위키드         존 추                 NaN  유니버설픽쳐스인터내셔널 코리아(유)
4   5  무파사: 라이온 킹      배리 젠킨스                 NaN   월트디즈니컴퍼니코리아 유한책임회사

        DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM  ...  \
0          (주)바이포엠스튜디오  20241204        개봉영화            장편      한국  ...
1            (주)씨제이이엔엠  20241224        개봉영화            장편      한국  ...
2   월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국  ...
3  유니버설픽쳐스인터내셔널 코리아(유)  20241120        개봉영화            장편      미국  ...
4   월트디즈니컴퍼니코리아 유한책임회사  20241218        개봉영화            장편      미국  ...

      SALES_PRICE VIEWNG_NMPR_CO  SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO  \
0  31,098,609,690        3310341      5,577,561,060              575,587
1  26,249,313,820        2755264      6,393,839,080              643,803
2  22,729,974,820        2441853      4,788,240,490              491,675
3   9,685,624,650         987630      4,133,427,520              409,409
4   6,544,245,050         656685      1,915,587,910              177,432

  GENRE_NM   GRAD_NM MOVIE_SDIV_NM    관객수_만명   관객수_2배     스크린당_관객수
0      드라마  12세이상관람가          일반영화  331.0341  6620682  2341.118105
1      드라마  15세이상관람가          일반영화  275.5264  5510528  1296.594824
2    애니메이션     전체관람가          일반영화  244.1853  4883706  1230.152645
3      판타지     전체관람가          일반영화   98.7630  1975260   547.770383
4    애니메이션     전체관람가          일반영화   65.6685  1313370   528.306516

[5 rows x 21 columns]

In [33]:
import pandas as pd

# 하나의 CSV를 "앞부분"과 "뒷부분"으로 나누어 읽기
df1 = pd.read_csv(
    "KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202411.csv",
    encoding="utf-8",
    nrows=3     # 앞에서 3행
)
df2 = pd.read_csv(
    "KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv",
    encoding="utf-8",
    nrows=3     # 다음 3행
)

print("첫 번째 데이터:")
print(df1)

print("두 번째 데이터:")
print(df2)

# 위아래로 합치기
df_all = pd.concat([df1, df2])
print(df_all)

첫 번째 데이터:
   NO  MOVIE_NM    DRCTR_NM  MAKR_NM       INCME_CMPNY_NM  \
0   1       위키드         존 추      NaN  유니버설픽쳐스인터내셔널 코리아(유)
1   2     모아나 2  데이브 데릭 주니어      NaN   월트디즈니컴퍼니코리아 유한책임회사
2   3  글래디에이터 Ⅱ      리들리 스콧      NaN    롯데컬처웍스(주)롯데엔터테인먼트

        DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM  \
0  유니버설픽쳐스인터내셔널 코리아(유)  20241120        개봉영화            장편      미국
1   월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국
2    롯데컬처웍스(주)롯데엔터테인먼트  20241113        개봉영화            장편      미국

  TOT_SCRN_CO     SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE  \
0       1,803  10,592,078,200      1,071,533     4,060,358,060
1       1,985   8,390,353,250        931,286     1,798,586,460
2       1,769   8,219,618,370        841,741     2,435,083,680

  SEOUL_VIEWNG_NMPR_CO GENRE_NM  GRAD_NM MOVIE_SDIV_NM
0              387,822      판타지    전체관람가          일반영화
1              191,199    애니메이션    전체관람가          일반영화
2              236,207       액션  청소년관람불가          일반영화
두 번째 데이터:
   NO MOVIE_NM    DRCTR_NM             MAKR_NM      INCME_CMPNY_NM  \
0   1      소방관         곽경택  주식회사 에스크로드,(주)아센디오                 NaN
1   2      하얼빈         우민호         (주)하이브미디어코프                 NaN
2   3    모아나 2  데이브 데릭 주니어                 NaN  월트디즈니컴퍼니코리아 유한책임회사

       DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO  \
0         (주)바이포엠스튜디오  20241204        개봉영화            장편      한국       1,414
1           (주)씨제이이엔엠  20241224        개봉영화            장편      한국       2,125
2  월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국       1,985

      SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO  \
0  31,098,609,690      3,310,341     5,577,561,060              575,587
1  26,249,313,820      2,755,264     6,393,839,080              643,803
2  22,729,974,820      2,441,853     4,788,240,490              491,675

  GENRE_NM   GRAD_NM MOVIE_SDIV_NM
0      드라마  12세이상관람가          일반영화
1      드라마  15세이상관람가          일반영화
2    애니메이션     전체관람가          일반영화
   NO  MOVIE_NM    DRCTR_NM             MAKR_NM       INCME_CMPNY_NM  \
0   1       위키드         존 추                 NaN  유니버설픽쳐스인터내셔널 코리아(유)
1   2     모아나 2  데이브 데릭 주니어                 NaN   월트디즈니컴퍼니코리아 유한책임회사
2   3  글래디에이터 Ⅱ      리들리 스콧                 NaN    롯데컬처웍스(주)롯데엔터테인먼트
0   1       소방관         곽경택  주식회사 에스크로드,(주)아센디오                  NaN
1   2       하얼빈         우민호         (주)하이브미디어코프                  NaN
2   3     모아나 2  데이브 데릭 주니어                 NaN   월트디즈니컴퍼니코리아 유한책임회사

        DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM  \
0  유니버설픽쳐스인터내셔널 코리아(유)  20241120        개봉영화            장편      미국
1   월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국
2    롯데컬처웍스(주)롯데엔터테인먼트  20241113        개봉영화            장편      미국
0          (주)바이포엠스튜디오  20241204        개봉영화            장편      한국
1            (주)씨제이이엔엠  20241224        개봉영화            장편      한국
2   월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국

  TOT_SCRN_CO     SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE  \
0       1,803  10,592,078,200      1,071,533     4,060,358,060
1       1,985   8,390,353,250        931,286     1,798,586,460
2       1,769   8,219,618,370        841,741     2,435,083,680
0       1,414  31,098,609,690      3,310,341     5,577,561,060
1       2,125  26,249,313,820      2,755,264     6,393,839,080
2       1,985  22,729,974,820      2,441,853     4,788,240,490

  SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM MOVIE_SDIV_NM
0              387,822      판타지     전체관람가          일반영화
1              191,199    애니메이션     전체관람가          일반영화
2              236,207       액션   청소년관람불가          일반영화
0              575,587      드라마  12세이상관람가          일반영화
1              643,803      드라마  15세이상관람가          일반영화
2              491,675    애니메이션     전체관람가          일반영화

In [34]:
df_all = pd.concat([df1, df2], ignore_index=True)
print(df_all)

   NO  MOVIE_NM    DRCTR_NM             MAKR_NM       INCME_CMPNY_NM  \
0   1       위키드         존 추                 NaN  유니버설픽쳐스인터내셔널 코리아(유)
1   2     모아나 2  데이브 데릭 주니어                 NaN   월트디즈니컴퍼니코리아 유한책임회사
2   3  글래디에이터 Ⅱ      리들리 스콧                 NaN    롯데컬처웍스(주)롯데엔터테인먼트
3   1       소방관         곽경택  주식회사 에스크로드,(주)아센디오                  NaN
4   2       하얼빈         우민호         (주)하이브미디어코프                  NaN
5   3     모아나 2  데이브 데릭 주니어                 NaN   월트디즈니컴퍼니코리아 유한책임회사

        DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM  \
0  유니버설픽쳐스인터내셔널 코리아(유)  20241120        개봉영화            장편      미국
1   월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국
2    롯데컬처웍스(주)롯데엔터테인먼트  20241113        개봉영화            장편      미국
3          (주)바이포엠스튜디오  20241204        개봉영화            장편      한국
4            (주)씨제이이엔엠  20241224        개봉영화            장편      한국
5   월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국

  TOT_SCRN_CO     SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE  \
0       1,803  10,592,078,200      1,071,533     4,060,358,060
1       1,985   8,390,353,250        931,286     1,798,586,460
2       1,769   8,219,618,370        841,741     2,435,083,680
3       1,414  31,098,609,690      3,310,341     5,577,561,060
4       2,125  26,249,313,820      2,755,264     6,393,839,080
5       1,985  22,729,974,820      2,441,853     4,788,240,490

  SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM MOVIE_SDIV_NM
0              387,822      판타지     전체관람가          일반영화
1              191,199    애니메이션     전체관람가          일반영화
2              236,207       액션   청소년관람불가          일반영화
3              575,587      드라마  12세이상관람가          일반영화
4              643,803      드라마  15세이상관람가          일반영화
5              491,675    애니메이션     전체관람가          일반영화

In [36]:
df3 = pd.read_csv(
    "KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202410.csv",
    encoding="utf-8",
    nrows=3
)

df_all = pd.concat([df3, df1, df2], ignore_index=True)
print(df_all)

   NO    MOVIE_NM    DRCTR_NM              MAKR_NM            INCME_CMPNY_NM  \
0   1        베테랑2         류승완              (주)외유내강                       NaN
1   2  베놈: 라스트 댄스      켈리 마르셀                  NaN  소니픽쳐스엔터테인먼트코리아주식회사극장배급지점
2   3    대도시의 사랑법         이언희  (주)쇼박스,주식회사 고래와 유기농                       NaN
3   1         위키드         존 추                  NaN       유니버설픽쳐스인터내셔널 코리아(유)
4   2       모아나 2  데이브 데릭 주니어                  NaN        월트디즈니컴퍼니코리아 유한책임회사
5   3    글래디에이터 Ⅱ      리들리 스콧                  NaN         롯데컬처웍스(주)롯데엔터테인먼트
6   1         소방관         곽경택   주식회사 에스크로드,(주)아센디오                       NaN
7   2         하얼빈         우민호          (주)하이브미디어코프                       NaN
8   3       모아나 2  데이브 데릭 주니어                  NaN        월트디즈니컴퍼니코리아 유한책임회사

             DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM  \
0                 (주)씨제이이엔엠  20240913        개봉영화            장편      한국
1  소니픽쳐스엔터테인먼트코리아주식회사극장배급지점  20241023        개봉영화            장편      미국
2               플러스엠 엔터테인먼트  20241001        개봉영화            장편      한국
3       유니버설픽쳐스인터내셔널 코리아(유)  20241120        개봉영화            장편      미국
4        월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국
5         롯데컬처웍스(주)롯데엔터테인먼트  20241113        개봉영화            장편      미국
6               (주)바이포엠스튜디오  20241204        개봉영화            장편      한국
7                 (주)씨제이이엔엠  20241224        개봉영화            장편      한국
8        월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국

  TOT_SCRN_CO     SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE  \
0       2,691   9,870,120,218      1,024,813     2,276,228,160
1       1,663   9,847,662,388      1,005,411     2,517,123,920
2         869   7,297,350,650        774,053     2,434,169,690
3       1,803  10,592,078,200      1,071,533     4,060,358,060
4       1,985   8,390,353,250        931,286     1,798,586,460
5       1,769   8,219,618,370        841,741     2,435,083,680
6       1,414  31,098,609,690      3,310,341     5,577,561,060
7       2,125  26,249,313,820      2,755,264     6,393,839,080
8       1,985  22,729,974,820      2,441,853     4,788,240,490

  SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM MOVIE_SDIV_NM
0              223,705       액션  15세이상관람가          일반영화
1              240,738       액션  15세이상관람가          일반영화
2              250,323      드라마  15세이상관람가          일반영화
3              387,822      판타지     전체관람가          일반영화
4              191,199    애니메이션     전체관람가          일반영화
5              236,207       액션   청소년관람불가          일반영화
6              575,587      드라마  12세이상관람가          일반영화
7              643,803      드라마  15세이상관람가          일반영화
8              491,675    애니메이션     전체관람가          일반영화

In [37]:
print(len(df_all))

9

In [38]:
import pandas as pd

# 예시용 데이터 만들기 (같은 영화 제목 기준으로 결합)
info1 = pd.DataFrame({
    "MOVIE_NM": ["소방관", "하얼빈", "모아나 2"],
    "VIEWNG_NMPR_CO": [3310341, 2500000, 2441853]  # 관객 수
})

info2 = pd.DataFrame({
    "MOVIE_NM": ["소방관", "하얼빈", "모아나 2"],
    "GENRE_NM": ["드라마", "드라마", "애니메이션"]   # 장르
})

print("info1:")
print(info1)
print("info2:")
print(info2)

# "MOVIE_NM" 열을 기준으로 결합
merged = pd.merge(info1, info2, on="MOVIE_NM")
print(merged)

info1:
  MOVIE_NM  VIEWNG_NMPR_CO
0      소방관         3310341
1      하얼빈         2500000
2    모아나 2         2441853
info2:
  MOVIE_NM GENRE_NM
0      소방관      드라마
1      하얼빈      드라마
2    모아나 2    애니메이션
  MOVIE_NM  VIEWNG_NMPR_CO GENRE_NM
0      소방관         3310341      드라마
1      하얼빈         2500000      드라마
2    모아나 2         2441853    애니메이션

In [39]:
info2["OPN_DE"] = [20241204, 20241224, 20241127]
df_merge2 = pd.merge(info1, info2, on="MOVIE_NM")
print(df_merge2)

  MOVIE_NM  VIEWNG_NMPR_CO GENRE_NM    OPN_DE
0      소방관         3310341      드라마  20241204
1      하얼빈         2500000      드라마  20241224
2    모아나 2         2441853    애니메이션  20241127

In [40]:
import pandas as pd

# CSV 읽기
df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

# 실제 열 이름 확인
print(df.columns)

# 관객수(VIEWNG_NMPR_CO)를 정수형으로 변환
df["VIEWNG_NMPR_CO"] = (
    df["VIEWNG_NMPR_CO"]
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.strip()
    .astype(int)
)

# 예시: 장르(GENRE_NM)별 평균 관객 수
avg = df.groupby("GENRE_NM")["VIEWNG_NMPR_CO"].mean()
print(avg)

# groupby한 열을 index로 만들지 않음.
avg_noindex = df.groupby("GENRE_NM", as_index=False)["VIEWNG_NMPR_CO"].mean()
print(avg_noindex)

Index(['NO', 'MOVIE_NM', 'DRCTR_NM', 'MAKR_NM', 'INCME_CMPNY_NM',
       'DISTB_CMPNY_NM', 'OPN_DE', 'MOVIE_TY_NM', 'MOVIE_STLE_NM', 'NLTY_NM',
       'TOT_SCRN_CO', 'SALES_PRICE', 'VIEWNG_NMPR_CO', 'SEOUL_SALES_PRICE',
       'SEOUL_VIEWNG_NMPR_CO', 'GENRE_NM', 'GRAD_NM', 'MOVIE_SDIV_NM'],
      dtype='object')
GENRE_NM
SF           594.500000
가족          6316.000000
공연         10193.222222
공포(호러)      9351.500000
기타          1565.500000
다큐멘터리       7703.266667
드라마       252912.370370
멜로/로맨스      5080.000000
범죄         51628.500000
스릴러       256811.000000
애니메이션     171512.863636
액션         20744.166667
코미디         1801.000000
판타지       987630.000000
Name: VIEWNG_NMPR_CO, dtype: float64
   GENRE_NM  VIEWNG_NMPR_CO
0        SF      594.500000
1        가족     6316.000000
2        공연    10193.222222
3    공포(호러)     9351.500000
4        기타     1565.500000
5     다큐멘터리     7703.266667
6       드라마   252912.370370
7    멜로/로맨스     5080.000000
8        범죄    51628.500000
9       스릴러   256811.000000
10    애니메이션   171512.863636
11       액션    20744.166667
12      코미디     1801.000000
13      판타지   987630.000000

In [41]:
sum_value = df.groupby("DISTB_CMPNY_NM")["VIEWNG_NMPR_CO"].sum()
print(sum_value)

DISTB_CMPNY_NM
(주)넥스트엔터테인먼트월드(NEW)    515492
(주)니즈텔레콤                 2716
(주)다자인소프트                4122
(주)디스테이션                 1486
(주)마인드마크                22767
                        ...
판씨네마(주)                 17307
플러스엠 엔터테인먼트            138730
필름다빈                      905
한국스마트협동조합                1829
해피송                      1516
Name: VIEWNG_NMPR_CO, Length: 64, dtype: int64

In [42]:
avg_value = df.groupby("OPN_DE", as_index=False)["VIEWNG_NMPR_CO"].mean()
print(avg_value)

      OPN_DE  VIEWNG_NMPR_CO
0   20231018    3.290000e+02
1   20231129    1.870000e+03
2   20240207    1.180000e+03
3   20240313    6.510000e+02
4   20240605    2.932000e+03
5   20240612    1.439000e+03
6   20240626    1.505000e+03
7   20240703    2.044000e+03
8   20240717    3.600000e+02
9   20240807    3.622000e+03
10  20240821    8.103000e+03
11  20240828    1.417000e+03
12  20240904    4.990000e+02
13  20240905    9.540000e+02
14  20240911    8.940000e+02
15  20240914    1.079000e+03
16  20240925    5.102000e+03
17  20241001    1.675000e+03
18  20241004    1.211000e+03
19  20241016    1.428000e+03
20  20241023    5.633000e+03
21  20241025    3.820000e+02
22  20241030    1.454250e+03
23  20241106    9.900200e+03
24  20241107    4.515000e+03
25  20241113    2.593733e+04
26  20241114    1.248500e+03
27  20241120    1.538001e+05
28  20241121    1.829000e+03
29  20241127    3.089139e+05
30  20241128    4.850000e+03
31  20241129    8.690000e+02
32  20241130    2.212000e+03
33  20241204    3.071869e+05
34  20241205    7.868000e+03
35  20241211    5.977911e+04
36  20241212    4.019450e+04
37  20241218    1.809859e+05
38  20241220    1.355000e+03
39  20241224    2.755264e+06
40  20241225    2.015950e+04
41  20241231    6.185750e+04

In [43]:
pd.set_option('display.float_format', '{:,.0f}'.format)  # 3자리수 콤마 적용
avg_value = df.groupby("OPN_DE", as_index=False)["VIEWNG_NMPR_CO"].mean()
avg_sorted = avg_value.sort_values("VIEWNG_NMPR_CO", ascending=False)
print(avg_sorted)

      OPN_DE  VIEWNG_NMPR_CO
39  20241224       2,755,264
29  20241127         308,914
33  20241204         307,187
37  20241218         180,986
27  20241120         153,800
41  20241231          61,858
35  20241211          59,779
36  20241212          40,194
25  20241113          25,937
40  20241225          20,160
23  20241106           9,900
10  20240821           8,103
34  20241205           7,868
20  20241023           5,633
16  20240925           5,102
30  20241128           4,850
24  20241107           4,515
9   20240807           3,622
4   20240605           2,932
32  20241130           2,212
7   20240703           2,044
1   20231129           1,870
28  20241121           1,829
17  20241001           1,675
6   20240626           1,505
22  20241030           1,454
5   20240612           1,439
19  20241016           1,428
11  20240828           1,417
38  20241220           1,355
26  20241114           1,248
18  20241004           1,211
2   20240207           1,180
15  20240914           1,079
13  20240905             954
14  20240911             894
31  20241129             869
3   20240313             651
12  20240904             499
21  20241025             382
8   20240717             360
0   20231018             329

In [44]:
import pandas as pd

df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

df["VIEWNG_NMPR_CO"] = (
    df["VIEWNG_NMPR_CO"]
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.strip()
    .astype(int)
)

# 예시: 장르와 관람등급별 평균 관객 수
result = df.groupby(["GENRE_NM", "GRAD_NM"])["VIEWNG_NMPR_CO"].mean()

print(result.head())

GENRE_NM  GRAD_NM
SF        15세이상관람가      594
가족        12세이상관람가    2,716
          전체관람가      13,515
공연        12세이상관람가    1,750
          전체관람가      11,249
Name: VIEWNG_NMPR_CO, dtype: float64

In [45]:
result2 = df.groupby(["GENRE_NM", "NLTY_NM"])["VIEWNG_NMPR_CO"].mean()
print(result2.head())

GENRE_NM  NLTY_NM
SF        미국           379
          한국           810
가족        미국        13,515
          한국         2,716
공연        일본         2,917
Name: VIEWNG_NMPR_CO, dtype: float64

In [46]:
result2 = df.groupby(["GENRE_NM", "NLTY_NM"])["VIEWNG_NMPR_CO"].mean()
result2 = result2.reset_index()
print(result2.head())

  GENRE_NM NLTY_NM  VIEWNG_NMPR_CO
0       SF      미국             379
1       SF      한국             810
2       가족      미국          13,515
3       가족      한국           2,716
4       공연      일본           2,917

In [47]:
# sort_values 적용
print(result2.sort_values(["GENRE_NM", "NLTY_NM", "VIEWNG_NMPR_CO"], ascending=[True, False, False]))

   GENRE_NM NLTY_NM  VIEWNG_NMPR_CO
1        SF      한국             810
0        SF      미국             379
3        가족      한국           2,716
2        가족      미국          13,515
5        공연      한국          12,272
4        공연      일본           2,917
6    공포(호러)      한국           9,352
8        기타      한국           1,358
7        기타     프랑스           1,773
12    다큐멘터리      한국           9,664
11    다큐멘터리    이탈리아           1,136
10    다큐멘터리      영국           6,214
9     다큐멘터리      미국             758
19      드라마      한국         448,740
18      드라마      일본           1,957
17      드라마      영국          15,398
16      드라마     스페인           5,615
15      드라마      미국          13,136
14      드라마     덴마크           1,461
13      드라마    노르웨이           1,741
21   멜로/로맨스      한국           2,691
20   멜로/로맨스      대만           7,469
23       범죄      한국         100,948
22       범죄      일본           2,309
25      스릴러      한국         358,652
24      스릴러      영국         154,970
32    애니메이션      한국           2,304
31    애니메이션      일본          60,642
30    애니메이션     스페인             651
29    애니메이션      미국         620,570
28    애니메이션     멕시코           4,515
27    애니메이션     러시아             483
26    애니메이션      독일          51,449
34       액션     프랑스          16,978
33       액션      미국          21,497
36      코미디      한국           1,686
35      코미디      영국           2,030
37      판타지      미국         987,630

In [48]:
import pandas as pd

# 첫 번째 표: 영화 제목과 관객 수
info1 = pd.DataFrame({
    "MOVIE_NM": ["소방관", "하얼빈", "모아나 2"],
    "VIEWNG_NMPR_CO": [3310341, 2500000, 2441853]
})

# 두 번째 표: 영화 제목과 장르
info2 = pd.DataFrame({
    "MOVIE_NM": ["소방관", "모아나 2", "위키드"],
    "GENRE_NM": ["드라마", "애니메이션", "판타지"]
})

print("info1:")
print(info1)
print("info2:")
print(info2)

# 기본 merge (inner join, 교집합)
df_inner = pd.merge(info1, info2, on="MOVIE_NM", how="inner")
print("\n[inner 결합 결과]")
print(df_inner)

info1:
  MOVIE_NM  VIEWNG_NMPR_CO
0      소방관         3310341
1      하얼빈         2500000
2    모아나 2         2441853
info2:
  MOVIE_NM GENRE_NM
0      소방관      드라마
1    모아나 2    애니메이션
2      위키드      판타지

[inner 결합 결과]
  MOVIE_NM  VIEWNG_NMPR_CO GENRE_NM
0      소방관         3310341      드라마
1    모아나 2         2441853    애니메이션

In [49]:
# 1) left join: 왼쪽(info1) 기준
df_left = pd.merge(info1, info2, on="MOVIE_NM", how="left")
print("\n[left 결합 결과]")
print(df_left)

[left 결합 결과]
  MOVIE_NM  VIEWNG_NMPR_CO GENRE_NM
0      소방관         3310341      드라마
1      하얼빈         2500000      NaN
2    모아나 2         2441853    애니메이션

In [50]:
# 2) right join: 오른쪽(info2) 기준
df_right = pd.merge(info1, info2, on="MOVIE_NM", how="right")
print("\n[right 결합 결과]")
print(df_right)

[right 결합 결과]
  MOVIE_NM  VIEWNG_NMPR_CO GENRE_NM
0      소방관       3,310,341      드라마
1    모아나 2       2,441,853    애니메이션
2      위키드             NaN      판타지

In [51]:
# 3) outer join: 전체(합집합)
df_outer = pd.merge(info1, info2, on="MOVIE_NM", how="outer")
print("\n[outer 결합 결과]")
print(df_outer)

[outer 결합 결과]
  MOVIE_NM  VIEWNG_NMPR_CO GENRE_NM
0    모아나 2       2,441,853    애니메이션
1      소방관       3,310,341      드라마
2      위키드             NaN      판타지
3      하얼빈       2,500,000      NaN