<a href="https://colab.research.google.com/github/songjeongmin86/20240716/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 영화 박스오피스 데이터를 간단한 '객체(오브젝트)'로 다루기 위한 클래스 예제
# CSV에 있을 법한 항목을 작게 흉내냅니다: 제목, 매출, 상영관 수, 러닝타임

class Movie:
	# 클래스는 '설계도'입니다. 실제 영화 한 편(객체)을 만들기 위한 틀입니다.
	def __init__(self, title, revenue, screens, running_time):
		# self는 "지금 만들어지는 그 객체 자신"을 가리킵니다.
		self.title = title              # 영화 제목(문자열)
		self.revenue = revenue          # 매출(만원 단위, 정수 또는 실수)
		self.screens = screens          # 상영관 수(정수)
		self.running_time = running_time  # 러닝타임(분, 정수)

	def summary(self):
		# 객체에 저장된 정보를 보기 좋게 한 줄로 출력합니다.
		print(self.title + " / " + str(self.revenue) + "만원 / "
		      + str(self.screens) + "관 / " + str(self.running_time) + "분")

# 설계도(클래스)로부터 실제 객체 2개를 만들어 봅니다.
movie1 = Movie("서울의 밤", 52000, 120, 128)
movie2 = Movie("블루 나이트", 46500, 85, 110)

# 각 객체가 가진 정보를 출력해 봅니다.
movie1.summary()
movie2.summary()

서울의 밤 / 52000만원 / 120관 / 128분
블루 나이트 / 46500만원 / 85관 / 110분

In [ ]:
movie3 = Movie("라스트 퀘스트", 73000, 150, 140)
movie3.summary()  # 내가 넣은 값이 그대로 보이면 성공

라스트 퀘스트 / 73000만원 / 150관 / 140분

In [ ]:
movie1.revenue = 50000  # 매출을 바꿉니다.
movie1.summary()        # 변경된 매출 확인

서울의 밤 / 50000만원 / 120관 / 128분

In [ ]:
movie2.screens = 100
movie2.summary()        # 상영관 수가 100으로 보이면 성공

블루 나이트 / 46500만원 / 100관 / 110분

In [ ]:
# '함수'는 클래스 밖에 있는 동사 같은 코드 조각입니다.
def is_over_target(revenue, target):
	# 매출이 기준 이상인지 True/False로 알려줍니다.
	return revenue >= target

# '메소드'는 클래스 안에 있는 함수입니다.
# 아래는 메소드를 하나 더 추가한 예입니다.
class MovieWithCheck:
	def __init__(self, title, revenue):
		self.title = title
		self.revenue = revenue

	def is_over(self, target):
		# 내 매출(self.revenue)이 기준 이상인지 판단합니다.
		return self.revenue >= target

movie3 = MovieWithCheck("별빛의 노래", 4550)  # 단위: 만원
print(is_over_target(movie3.revenue, 5000))  # 함수 사용
print(movie3.is_over(5000))                  # 메소드 사용

False
False

In [ ]:
print(movie3.is_over(4000))  # True가 나오면 정상

True

In [ ]:
print(is_over_target(4700, 4800))  # False

False

In [ ]:
movie4 = MovieWithCheck("바다의 기억", 6100)
print(movie4.is_over(6000))  # True
print(movie4.is_over(7000))  # False

True
False

In [ ]:
# 변수(variable)는 하나의 값을 저장합니다.
# 예: 숫자, 문자열 등 간단한 정보
revenue = 5200
title = "서울의 밤"

print("제목:", title)
print("매출(만원):", revenue)

# 속성(attribute)은 객체 안에 저장된 변수입니다.
# 객체마다 자기만의 속성을 가집니다.

class Movie:
	def __init__(self, title, revenue, screens):
		self.title = title      # 객체의 제목 속성
		self.revenue = revenue  # 객체의 매출 속성
		self.screens = screens  # 객체의 상영관 수 속성

# 객체(movie1)를 하나 만들어 봅니다.
movie1 = Movie("블루 나이트", 4800, 90)

# 객체 안의 속성에 접근하려면 '객체이름.속성'을 사용합니다.
print("제목:", movie1.title)
print("매출(만원):", movie1.revenue)
print("상영관 수:", movie1.screens)

# 속성값을 바꿀 수도 있습니다.
movie1.revenue = 5000
print("변경된 매출:", movie1.revenue)

제목: 서울의 밤
매출(만원): 5200
제목: 블루 나이트
매출(만원): 4800
상영관 수: 90
변경된 매출: 5000

In [ ]:
movie2 = Movie("해돋이", 5200, 120)
print("제목:", movie2.title)
print("매출(만원):", movie2.revenue)
print("상영관 수:", movie2.screens)

제목: 해돋이
매출(만원): 5200
상영관 수: 120

In [ ]:
movie1.screens = 100
print("변경된 상영관 수:", movie1.screens)

변경된 상영관 수: 100

In [ ]:
movie1.release_date = "2025-03-01"
print("개봉일:", movie1.release_date)

개봉일: 2025-03-01

In [ ]:
# 상속(inheritance)은 기존 클래스를 '물려받아' 새 클래스를 만드는 것입니다.
# 부모 클래스(기존 클래스)의 속성과 메소드를 그대로 쓸 수 있습니다.

class Movie:
	def __init__(self, title, revenue, rating):
		self.title = title
		self.revenue = revenue
		self.rating = rating
	def summary(self):
		print("제목:", self.title, "/ 매출(만원):", self.revenue, "/ 평점:", self.rating)

# 새 클래스: Movie를 상속받은 PremiumMovie
class PremiumMovie(Movie):
	# 추가 기능만 정의하면 됩니다.
	def show_premium(self):
		print(self.title, "은(는) 프리미엄 상영관에서 상영 중입니다.")

# Movie 기능을 그대로 사용할 수 있습니다.
movie1 = PremiumMovie("서울의 밤", 9500, 9.1)
movie1.summary()       # 부모 클래스의 메소드 사용
movie1.show_premium()  # 자식 클래스에 새로 추가된 메소드

제목: 서울의 밤 / 매출(만원): 9500 / 평점: 9.1
서울의 밤 은(는) 프리미엄 상영관에서 상영 중입니다.

In [ ]:
# Override(오버라이드)는 부모 클래스의 메소드를 '같은 이름으로 다시 정의'하는 것입니다.
# 이렇게 하면 새 클래스의 방식으로 바꿔서 작동합니다.

class MovieWithDate(Movie):
	def __init__(self, title, revenue, rating, release_date):
		# 부모의 __init__을 그대로 쓰고 싶으면 super()를 사용합니다.
		super().__init__(title, revenue, rating)
		self.release_date = release_date
	# 부모의 summary()를 다시 정의(Override)
	def summary(self):
		print("제목:", self.title,
		      "/ 매출(만원):", self.revenue,
		      "/ 평점:", self.rating,
		      "/ 개봉일:", self.release_date)

# 사용 예시
movie2 = MovieWithDate("한강의 노을", 8700, 8.7, "2025-03-01")
movie2.summary()  # 개봉일까지 함께 출력

제목: 한강의 노을 / 매출(만원): 8700 / 평점: 8.7 / 개봉일: 2025-03-01

In [ ]:
class PremiumMovie(Movie):
	def __init__(self, title, revenue, rating, screens):
		super().__init__(title, revenue, rating)
		self.screens = screens
	def show_premium(self):
		print(self.title, "은(는) 프리미엄 상영관에서 상영 중입니다.")

movie1 = PremiumMovie("서울의 밤", 9500, 9.1, 120)
movie1.summary()       # 부모 클래스의 메소드 사용
movie1.show_premium()  # 자식 클래스에 새로 추가된 메소드

제목: 서울의 밤 / 매출(만원): 9500 / 평점: 9.1
서울의 밤 은(는) 프리미엄 상영관에서 상영 중입니다.

In [ ]:
class PremiumMovie(Movie):
	def __init__(self, title, revenue, rating, screens):
		super().__init__(title, revenue, rating)
		self.screens = screens
	def show_premium(self):
		print(self.title, ":", self.screens, "개 상영관 프리미엄 상영 중입니다.")

movie1 = PremiumMovie("서울의 밤", 9500, 9.1, 120)
movie1.summary()
movie1.show_premium()

제목: 서울의 밤 / 매출(만원): 9500 / 평점: 9.1
서울의 밤 : 120 개 상영관 프리미엄 상영 중입니다.

In [ ]:
class MovieWithDate(Movie):
	def __init__(self, title, revenue, rating, release_date):
		super().__init__(title, revenue, rating)
		self.release_date = release_date

	def summary(self):
		print("제목:", self.title,
		      "/ 매출(만원):", self.revenue,
		      "/ 평점:", self.rating,
		      "/ 재개봉일:", self.release_date)

movie2 = MovieWithDate("한강의 노을", 8700, 8.7, "2025-03-01")
movie2.summary()

TypeError: Movie.__init__() missing 1 required positional argument: 'screens'

In [ ]:
# 'import_ipynb' 모듈이 설치되어 있지 않아서 발생하는 오류입니다.
# 주피터 노트북(.ipynb) 파일에서 다른 주피터 노트북 파일의 코드를 불러오기 위해 사용되는 라이브러리입니다.
# 구글 코랩 환경에서는 일반적으로 이 모듈을 직접 설치해야 합니다.
!pip install import-ipynb

import import_ipynb

from boxoffice import Movie, simple_info

mv = Movie("서울의 밤", 1850000, 6500000000, 120)
print(simple_info(mv))   # "서울의 밤 / 1850000명 / 120개관"

Collecting import-ipynb
  Downloading import_ipynb-0.2-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: IPython in /usr/local/lib/python3.12/dist-packages (from import-ipynb) (7.34.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.12/dist-packages (from import-ipynb) (5.10.4)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from IPython->import-ipynb) (75.2.0)
Collecting jedi>=0.16 (from IPython->import-ipynb)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from IPython->import-ipynb) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from IPython->import-ipynb) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from IPython->import-ipynb) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from IPython->import-ipynb) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from IPython->import-ipynb) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from IPython->import-ipynb) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from IPython->import-ipynb) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from IPython->import-ipynb) (4.9.0)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.12/dist-packages (from nbformat->import-ipynb) (2.21.2)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.12/dist-packages (from nbformat->import-ipynb) (4.25.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /usr/local/lib/python3.12/dist-packages (from nbformat->import-ipynb) (5.9.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->IPython->import-ipynb) (0.8.5)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=2.6->nbformat->import-ipynb) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=2.6->nbformat->import-ipynb) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=2.6->nbformat->import-ipynb) (0.37.0)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.12/dist-packages (from jsonschema>=2.6->nbformat->import-ipynb) (0.29.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.12/dist-packages (from jupyter-core!=5.0.*,>=4.12->nbformat->import-ipynb) (4.5.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->IPython->import-ipynb) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython->import-ipynb) (0.2.14)
Requirement already satisfied: typing-extensions>=4.4.0 in /usr/local/lib/python3.12/dist-packages (from referencing>=0.28.4->jsonschema>=2.6->nbformat->import-ipynb) (4.15.0)
Downloading import_ipynb-0.2-py3-none-any.whl (4.0 kB)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 57.9 MB/s eta 0:00:00
Installing collected packages: jedi, import-ipynb
Successfully installed import-ipynb-0.2 jedi-0.19.2
서울의 밤 / 1850000명 / 120개관

In [ ]:
# 같은 폴더에 boxoffice.ipynb가 있다고 가정
import import_ipynb
from boxoffice import Movie, simple_info

mv = Movie("서울의 밤", 1850000, 6500000000, 120)
print(simple_info(mv))   # "서울의 밤 / 1850000명 / 120개관"

서울의 밤 / 1850000명 / 120개관

In [ ]:
# 1. print(): 화면에 값을 보여줍니다.
movie_title = "서울의 밤"
audience = 1850000
print("제목:", movie_title)
print("관객 수:", audience)

# 2. type(): 데이터의 종류(자료형)를 알려줍니다.
print(type(movie_title))   # <class 'str'>
print(type(audience))      # <class 'int'>

# 3. len(): 문자열이나 리스트의 길이를 구합니다.
genre = "로맨스 드라마"
print("장르 글자 수:", len(genre))

# 4. round(): 숫자를 반올림합니다.
rating = 8.73456
print("반올림된 평점:", round(rating, 1))  # 소수점 1자리까지
# cf) ceil, floor

# 5. str(), int(): 형(타입)을 바꿔줍니다.
screens = 120
print("상영관 정보:", str(screens) + "관")  # 숫자를 문자열로 변환

제목: 서울의 밤
관객 수: 1850000
<class 'str'>
<class 'int'>
장르 글자 수: 7
반올림된 평점: 8.7
상영관 정보: 120관

In [ ]:
title = "한강의 노을"
print(len(title))

6

In [ ]:
rating = 9.32789
print(round(rating, 2))

9.33

In [ ]:
screens = 15
print(str(screens) + "관")
print(str(screens), "관")
print(f"{screens}관")

15관
15 관
15관

In [ ]:
# 내장 라이브러리
import math  # 수학 계산용 라이브러리

# math 안의 함수(기능) 사용
print(math.sqrt(16))   # 제곱근
print(math.ceil(4.2))  # 올림
print(math.floor(4.8)) # 내림
print(round(4.8))      # 반올림은 내장함수

import math as m  # math를 m으로 줄여서 사용
print(m.sqrt(25))

# ---------------------------------------------

from math import sqrt, ceil  # math 안의 특정 기능만 불러오기
print(sqrt(9))
print(ceil(3.1))

from math import sqrt as sq
print(sq(9))

4.0
5
4
5
5.0
3.0
4
3.0

In [ ]:
# 외부 라이브러리
!pip install pandas
!pip uninstall pandas
!pip install pandas==2.2.2

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Found existing installation: pandas 2.2.2
Uninstalling pandas-2.2.2:
  Would remove:
    /usr/local/lib/python3.12/dist-packages/pandas-2.2.2.dist-info/*
    /usr/local/lib/python3.12/dist-packages/pandas/*
Proceed (Y/n)? y
  Successfully uninstalled pandas-2.2.2
Collecting pandas==2.2.2
  Downloading pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas==2.2.2) (1.17.0)
Downloading pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 52.0 MB/s eta 0:00:00
Installing collected packages: pandas
Successfully installed pandas-2.2.2

In [ ]:
import random
print(random.randint(1, 100))

66

In [ ]:
from math import sqrt
print(sqrt(81))

9.0

In [ ]:
import datetime
print(datetime.date.today())

2025-11-26

In [ ]:
# pandas 불러오기
import pandas as pd

# CSV 파일을 읽는다. 인코딩은 utf-8.
df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

# 표의 시작 부분을 확인한다.
print(df.head())

# 열(컬럼) 이름 목록을 확인한다.
print(df.columns)

# 현재 읽어온 행(줄) 개수를 본다.
print(len(df))

   NO    MOVIE_NM    DRCTR_NM             MAKR_NM       INCME_CMPNY_NM  \
0   1         소방관         곽경택  주식회사 에스크로드,(주)아센디오                  NaN
1   2         하얼빈         우민호         (주)하이브미디어코프                  NaN
2   3       모아나 2  데이브 데릭 주니어                 NaN   월트디즈니컴퍼니코리아 유한책임회사
3   4         위키드         존 추                 NaN  유니버설픽쳐스인터내셔널 코리아(유)
4   5  무파사: 라이온 킹      배리 젠킨스                 NaN   월트디즈니컴퍼니코리아 유한책임회사

        DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM  \
0          (주)바이포엠스튜디오  20241204        개봉영화            장편      한국
1            (주)씨제이이엔엠  20241224        개봉영화            장편      한국
2   월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국
3  유니버설픽쳐스인터내셔널 코리아(유)  20241120        개봉영화            장편      미국
4   월트디즈니컴퍼니코리아 유한책임회사  20241218        개봉영화            장편      미국

  TOT_SCRN_CO     SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE  \
0       1,414  31,098,609,690      3,310,341     5,577,561,060
1       2,125  26,249,313,820      2,755,264     6,393,839,080
2       1,985  22,729,974,820      2,441,853     4,788,240,490
3       1,803   9,685,624,650        987,630     4,133,427,520
4       1,243   6,544,245,050        656,685     1,915,587,910

  SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM MOVIE_SDIV_NM
0              575,587      드라마  12세이상관람가          일반영화
1              643,803      드라마  15세이상관람가          일반영화
2              491,675    애니메이션     전체관람가          일반영화
3              409,409      판타지     전체관람가          일반영화
4              177,432    애니메이션     전체관람가          일반영화
Index(['NO', 'MOVIE_NM', 'DRCTR_NM', 'MAKR_NM', 'INCME_CMPNY_NM',
       'DISTB_CMPNY_NM', 'OPN_DE', 'MOVIE_TY_NM', 'MOVIE_STLE_NM', 'NLTY_NM',
       'TOT_SCRN_CO', 'SALES_PRICE', 'VIEWNG_NMPR_CO', 'SEOUL_SALES_PRICE',
       'SEOUL_VIEWNG_NMPR_CO', 'GENRE_NM', 'GRAD_NM', 'MOVIE_SDIV_NM'],
      dtype='object')
100

In [ ]:
df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8", nrows=3)
print(df.head())

   NO MOVIE_NM    DRCTR_NM             MAKR_NM      INCME_CMPNY_NM  \
0   1      소방관         곽경택  주식회사 에스크로드,(주)아센디오                 NaN
1   2      하얼빈         우민호         (주)하이브미디어코프                 NaN
2   3    모아나 2  데이브 데릭 주니어                 NaN  월트디즈니컴퍼니코리아 유한책임회사

       DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO  \
0         (주)바이포엠스튜디오  20241204        개봉영화            장편      한국       1,414
1           (주)씨제이이엔엠  20241224        개봉영화            장편      한국       2,125
2  월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국       1,985

      SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO  \
0  31,098,609,690      3,310,341     5,577,561,060              575,587
1  26,249,313,820      2,755,264     6,393,839,080              643,803
2  22,729,974,820      2,441,853     4,788,240,490              491,675

  GENRE_NM   GRAD_NM MOVIE_SDIV_NM
0      드라마  12세이상관람가          일반영화
1      드라마  15세이상관람가          일반영화
2    애니메이션     전체관람가          일반영화

In [ ]:
df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")
print(df.tail(10))

     NO               MOVIE_NM   DRCTR_NM          MAKR_NM INCME_CMPNY_NM  \
90   91                안녕, 할부지  심형준,토마스 고          (주)에이컴즈            NaN
91   92                     루프        구상범  한국영상대학교,(주)무림산업            NaN
92   93          호두까기 인형과 마술피리        NaN              NaN      (주)히스토리필름
93   94                 자기만의 방        오세호          (주)엠픽처스            NaN
94   95                   레드 원    제이크 캐스단              NaN  워너브러더스 코리아(주)
95   96                  리틀 엠마  레오 루이스 랴오              NaN          (주)담화
96   97                 씨앗의 시간        설수안              NaN            NaN
97   98                    브리드        NaN              NaN      주식회사 풍경소리
98   99  명탐정 코난: 100만 달러의 펜타그램    나가오카 치카       TMS 엔터테인먼트      (주)씨제이이엔엠
99  100                블루 자이언트   타치카와 유즈루              NaN        판씨네마(주)

   DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO  \
90     (주)바른손이앤에이  20240904        개봉영화            장편      한국       1,021
91       (주)이놀미디어  20241204        개봉영화            장편      한국          16
92     (주)팝엔터테인먼트  20241030        개봉영화            장편     러시아         258
93        (주)씨네필운  20241120        개봉영화            장편      한국          27
94  워너브러더스 코리아(주)  20241106        개봉영화            장편      미국         598
95     (주)블루라벨픽쳐스  20241025        개봉영화            장편      미국         212
96           필름다빈  20241120        개봉영화            장편      한국          13
97      주식회사 풍경소리  20241212        개봉영화            장편      미국          23
98      (주)씨제이이엔엠  20240717        개봉영화            장편      일본       1,089
99        판씨네마(주)  20231018        개봉영화            장편      일본         574

   SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO GENRE_NM  \
90   2,904,900            499                 0                    0    다큐멘터리
91   4,926,900            487         2,890,700                  284      드라마
92   3,184,000            483                 0                    0    애니메이션
93   6,091,000            471         1,038,000                   78       가족
94   4,205,000            403         1,925,000                  175       액션
95   2,445,000            382                 0                    0    애니메이션
96   2,068,000            382           945,000                  234    다큐멘터리
97   2,209,000            379           100,000                   20       SF
98   3,555,400            360           777,700                   77    애니메이션
99   3,769,300            329         3,769,300                  329    애니메이션

     GRAD_NM MOVIE_SDIV_NM
90     전체관람가          일반영화
91   청소년관람불가       독립/예술영화
92     전체관람가       독립/예술영화
93  12세이상관람가       독립/예술영화
94  12세이상관람가          일반영화
95     전체관람가       독립/예술영화
96     전체관람가       독립/예술영화
97  15세이상관람가          일반영화
98  12세이상관람가          일반영화
99  12세이상관람가       독립/예술영화

In [ ]:
cols = df.columns
print(cols)

Index(['NO', 'MOVIE_NM', 'DRCTR_NM', 'MAKR_NM', 'INCME_CMPNY_NM',
       'DISTB_CMPNY_NM', 'OPN_DE', 'MOVIE_TY_NM', 'MOVIE_STLE_NM', 'NLTY_NM',
       'TOT_SCRN_CO', 'SALES_PRICE', 'VIEWNG_NMPR_CO', 'SEOUL_SALES_PRICE',
       'SEOUL_VIEWNG_NMPR_CO', 'GENRE_NM', 'GRAD_NM', 'MOVIE_SDIV_NM'],
      dtype='object')

In [ ]:
row_count = len(df)
print(row_count)

100

In [ ]:
import pandas as pd

df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

# 예시: 첫 번째 열과 두 번째 열만 골라보기
# df.columns[0], df.columns[1]은 실제 열 이름을 자동으로 가져온다.
two_cols = df[[df.columns[0], df.columns[1]]]
# two_cols = df[['NO', 'MOVIE_NM']]
print(two_cols)

# 한 개 열만 골라보기(Series)
one_col = df[df.columns[1]]
print(one_col)

print(df['MOVIE_NM'])

     NO               MOVIE_NM
0     1                    소방관
1     2                    하얼빈
2     3                  모아나 2
3     4                    위키드
4     5             무파사: 라이온 킹
..  ...                    ...
95   96                  리틀 엠마
96   97                 씨앗의 시간
97   98                    브리드
98   99  명탐정 코난: 100만 달러의 펜타그램
99  100                블루 자이언트

[100 rows x 2 columns]
0                       소방관
1                       하얼빈
2                     모아나 2
3                       위키드
4                무파사: 라이온 킹
              ...
95                    리틀 엠마
96                   씨앗의 시간
97                      브리드
98    명탐정 코난: 100만 달러의 펜타그램
99                  블루 자이언트
Name: MOVIE_NM, Length: 100, dtype: object
0                       소방관
1                       하얼빈
2                     모아나 2
3                       위키드
4                무파사: 라이온 킹
              ...
95                    리틀 엠마
96                   씨앗의 시간
97                      브리드
98    명탐정 코난: 100만 달러의 펜타그램
99                  블루 자이언트
Name: MOVIE_NM, Length: 100, dtype: object

In [ ]:
print(df[[df.columns[0], df.columns[1], df.columns[2]]])

print(df.iloc[:, :3])

print(df[['NO', 'MOVIE_NM', 'DRCTR_NM']])

print(df.loc[:, ['NO', 'MOVIE_NM', 'DRCTR_NM']])

     NO               MOVIE_NM    DRCTR_NM
0     1                    소방관         곽경택
1     2                    하얼빈         우민호
2     3                  모아나 2  데이브 데릭 주니어
3     4                    위키드         존 추
4     5             무파사: 라이온 킹      배리 젠킨스
..  ...                    ...         ...
95   96                  리틀 엠마   레오 루이스 랴오
96   97                 씨앗의 시간         설수안
97   98                    브리드         NaN
98   99  명탐정 코난: 100만 달러의 펜타그램     나가오카 치카
99  100                블루 자이언트    타치카와 유즈루

[100 rows x 3 columns]
     NO               MOVIE_NM    DRCTR_NM
0     1                    소방관         곽경택
1     2                    하얼빈         우민호
2     3                  모아나 2  데이브 데릭 주니어
3     4                    위키드         존 추
4     5             무파사: 라이온 킹      배리 젠킨스
..  ...                    ...         ...
95   96                  리틀 엠마   레오 루이스 랴오
96   97                 씨앗의 시간         설수안
97   98                    브리드         NaN
98   99  명탐정 코난: 100만 달러의 펜타그램     나가오카 치카
99  100                블루 자이언트    타치카와 유즈루

[100 rows x 3 columns]
     NO               MOVIE_NM    DRCTR_NM
0     1                    소방관         곽경택
1     2                    하얼빈         우민호
2     3                  모아나 2  데이브 데릭 주니어
3     4                    위키드         존 추
4     5             무파사: 라이온 킹      배리 젠킨스
..  ...                    ...         ...
95   96                  리틀 엠마   레오 루이스 랴오
96   97                 씨앗의 시간         설수안
97   98                    브리드         NaN
98   99  명탐정 코난: 100만 달러의 펜타그램     나가오카 치카
99  100                블루 자이언트    타치카와 유즈루

[100 rows x 3 columns]
     NO               MOVIE_NM    DRCTR_NM
0     1                    소방관         곽경택
1     2                    하얼빈         우민호
2     3                  모아나 2  데이브 데릭 주니어
3     4                    위키드         존 추
4     5             무파사: 라이온 킹      배리 젠킨스
..  ...                    ...         ...
95   96                  리틀 엠마   레오 루이스 랴오
96   97                 씨앗의 시간         설수안
97   98                    브리드         NaN
98   99  명탐정 코난: 100만 달러의 펜타그램     나가오카 치카
99  100                블루 자이언트    타치카와 유즈루

[100 rows x 3 columns]

In [ ]:
print(df[df.columns[1]])

print(df.iloc[:,1])

print(df['MOVIE_NM'])

print(df.loc[:,'MOVIE_NM'])

0                       소방관
1                       하얼빈
2                     모아나 2
3                       위키드
4                무파사: 라이온 킹
              ...
95                    리틀 엠마
96                   씨앗의 시간
97                      브리드
98    명탐정 코난: 100만 달러의 펜타그램
99                  블루 자이언트
Name: MOVIE_NM, Length: 100, dtype: object
0                       소방관
1                       하얼빈
2                     모아나 2
3                       위키드
4                무파사: 라이온 킹
              ...
95                    리틀 엠마
96                   씨앗의 시간
97                      브리드
98    명탐정 코난: 100만 달러의 펜타그램
99                  블루 자이언트
Name: MOVIE_NM, Length: 100, dtype: object
0                       소방관
1                       하얼빈
2                     모아나 2
3                       위키드
4                무파사: 라이온 킹
              ...
95                    리틀 엠마
96                   씨앗의 시간
97                      브리드
98    명탐정 코난: 100만 달러의 펜타그램
99                  블루 자이언트
Name: MOVIE_NM, Length: 100, dtype: object
0                       소방관
1                       하얼빈
2                     모아나 2
3                       위키드
4                무파사: 라이온 킹
              ...
95                    리틀 엠마
96                   씨앗의 시간
97                      브리드
98    명탐정 코난: 100만 달러의 펜타그램
99                  블루 자이언트
Name: MOVIE_NM, Length: 100, dtype: object

In [ ]:
print(df[df.columns[0]].head(2))

0    1
1    2
Name: NO, dtype: int64

In [ ]:
import pandas as pd

df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

# 특정 행 한 줄(0번째 행)
print(df.iloc[0])

# 특정 위치의 값(1번째 행, 1번째 열)
print(df.iloc[1, 1])

# 행 범위 선택: 0~2행(0,1,2)
print(df.iloc[0:3])

NO                                       1
MOVIE_NM                               소방관
DRCTR_NM                               곽경택
MAKR_NM                 주식회사 에스크로드,(주)아센디오
INCME_CMPNY_NM                         NaN
DISTB_CMPNY_NM                 (주)바이포엠스튜디오
OPN_DE                            20241204
MOVIE_TY_NM                           개봉영화
MOVIE_STLE_NM                           장편
NLTY_NM                                 한국
TOT_SCRN_CO                          1,414
SALES_PRICE                 31,098,609,690
VIEWNG_NMPR_CO                   3,310,341
SEOUL_SALES_PRICE            5,577,561,060
SEOUL_VIEWNG_NMPR_CO               575,587
GENRE_NM                               드라마
GRAD_NM                           12세이상관람가
MOVIE_SDIV_NM                         일반영화
Name: 0, dtype: object
하얼빈
   NO MOVIE_NM    DRCTR_NM             MAKR_NM      INCME_CMPNY_NM  \
0   1      소방관         곽경택  주식회사 에스크로드,(주)아센디오                 NaN
1   2      하얼빈         우민호         (주)하이브미디어코프                 NaN
2   3    모아나 2  데이브 데릭 주니어                 NaN  월트디즈니컴퍼니코리아 유한책임회사

       DISTB_CMPNY_NM    OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO  \
0         (주)바이포엠스튜디오  20241204        개봉영화            장편      한국       1,414
1           (주)씨제이이엔엠  20241224        개봉영화            장편      한국       2,125
2  월트디즈니컴퍼니코리아 유한책임회사  20241127        개봉영화            장편      미국       1,985

      SALES_PRICE VIEWNG_NMPR_CO SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO  \
0  31,098,609,690      3,310,341     5,577,561,060              575,587
1  26,249,313,820      2,755,264     6,393,839,080              643,803
2  22,729,974,820      2,441,853     4,788,240,490              491,675

  GENRE_NM   GRAD_NM MOVIE_SDIV_NM
0      드라마  12세이상관람가          일반영화
1      드라마  15세이상관람가          일반영화
2    애니메이션     전체관람가          일반영화

In [ ]:
print(df.iloc[2])

NO                                       3
MOVIE_NM                             모아나 2
DRCTR_NM                        데이브 데릭 주니어
MAKR_NM                                NaN
INCME_CMPNY_NM          월트디즈니컴퍼니코리아 유한책임회사
DISTB_CMPNY_NM          월트디즈니컴퍼니코리아 유한책임회사
OPN_DE                            20241127
MOVIE_TY_NM                           개봉영화
MOVIE_STLE_NM                           장편
NLTY_NM                                 미국
TOT_SCRN_CO                          1,985
SALES_PRICE                 22,729,974,820
VIEWNG_NMPR_CO                   2,441,853
SEOUL_SALES_PRICE            4,788,240,490
SEOUL_VIEWNG_NMPR_CO               491,675
GENRE_NM                             애니메이션
GRAD_NM                              전체관람가
MOVIE_SDIV_NM                         일반영화
Name: 2, dtype: object

In [ ]:
print(df.iloc[0:2])

   NO MOVIE_NM DRCTR_NM             MAKR_NM INCME_CMPNY_NM DISTB_CMPNY_NM  \
0   1      소방관      곽경택  주식회사 에스크로드,(주)아센디오            NaN    (주)바이포엠스튜디오
1   2      하얼빈      우민호         (주)하이브미디어코프            NaN      (주)씨제이이엔엠

     OPN_DE MOVIE_TY_NM MOVIE_STLE_NM NLTY_NM TOT_SCRN_CO     SALES_PRICE  \
0  20241204        개봉영화            장편      한국       1,414  31,098,609,690
1  20241224        개봉영화            장편      한국       2,125  26,249,313,820

  VIEWNG_NMPR_CO SEOUL_SALES_PRICE SEOUL_VIEWNG_NMPR_CO GENRE_NM   GRAD_NM  \
0      3,310,341     5,577,561,060              575,587      드라마  12세이상관람가
1      2,755,264     6,393,839,080              643,803      드라마  15세이상관람가

  MOVIE_SDIV_NM
0          일반영화
1          일반영화

In [ ]:
print(df.iloc[1, 0])

2

In [ ]:
import pandas as pd

df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

print(df.columns)  # 실제 열 이름 확인

# 예시: 첫 번째 열 이름만 사용해 모든 행을 선택
first_col_name = 'NO'
# first_col_name = df.columns[0]
print()
print(f'first_col_name : {first_col_name}')
print()
print(df.loc[:, first_col_name])

# 예시: 첫 번째 행의 첫 번째 열
print(df.loc[0, first_col_name])

Index(['NO', 'MOVIE_NM', 'DRCTR_NM', 'MAKR_NM', 'INCME_CMPNY_NM',
       'DISTB_CMPNY_NM', 'OPN_DE', 'MOVIE_TY_NM', 'MOVIE_STLE_NM', 'NLTY_NM',
       'TOT_SCRN_CO', 'SALES_PRICE', 'VIEWNG_NMPR_CO', 'SEOUL_SALES_PRICE',
       'SEOUL_VIEWNG_NMPR_CO', 'GENRE_NM', 'GRAD_NM', 'MOVIE_SDIV_NM'],
      dtype='object')

first_col_name : NO

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: NO, Length: 100, dtype: int64
1

In [ ]:
c2 = df.columns[1]
print(f'c2  : {c2 }')
print(df.loc[:, c2])

c2  : MOVIE_NM
0                       소방관
1                       하얼빈
2                     모아나 2
3                       위키드
4                무파사: 라이온 킹
              ...
95                    리틀 엠마
96                   씨앗의 시간
97                      브리드
98    명탐정 코난: 100만 달러의 펜타그램
99                  블루 자이언트
Name: MOVIE_NM, Length: 100, dtype: object

In [ ]:
print(df.loc[0, c2])

소방관

In [ ]:
print(df.loc[:, ['NO', 'MOVIE_NM']])
# print(df.loc[:, [df.columns[0], df.columns[1]]])

     NO               MOVIE_NM
0     1                    소방관
1     2                    하얼빈
2     3                  모아나 2
3     4                    위키드
4     5             무파사: 라이온 킹
..  ...                    ...
95   96                  리틀 엠마
96   97                 씨앗의 시간
97   98                    브리드
98   99  명탐정 코난: 100만 달러의 펜타그램
99  100                블루 자이언트

[100 rows x 2 columns]

In [ ]:
import pandas as pd

df = pd.read_csv("KC_KOBIS_BOX_OFFIC_MOVIE_INFO_202412.csv", encoding="utf-8")

# 한 개 열만 고르면 Series
s = df['NO']
print(type(s))  # Series

# 여러 열을 고르면 DataFrame
d = df[['NO', 'MOVIE_NM']]
print(type(d))  # DataFrame

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
s3 = df[df.columns[2]]
print(type(s3))
print(s3.shape)

<class 'pandas.core.series.Series'>
(100,)

In [ ]:
d13 = df[[df.columns[0], df.columns[2]]]
print(type(d13))
print(d13.shape)

<class 'pandas.core.frame.DataFrame'>
(100, 2)

In [ ]:
print(s3.head(3))

0           곽경택
1           우민호
2    데이브 데릭 주니어
Name: DRCTR_NM, dtype: object