<a href="https://colab.research.google.com/github/songjeongmin86/20240716/blob/main/%EB%B3%80%EC%88%98%EC%99%80_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
score = 100
print(score)
print("반갑습니다")

100
반갑습니다

In [6]:
# 박스오피스 예시를 위한 아주 작은 데이터 만들기
movie_title = "서울의 밤"      # 영화 제목을 글자(문자열)로 저장합니다.
box_office = 1850000          # 관객 수를 숫자(정수)로 저장합니다. 단위: 명
screen_count = 120            # 상영관 수를 숫자(정수)로 저장합니다.
running_time = 128            # 러닝타임(분)을 숫자(정수)로 저장합니다.
release_date = "2025-01-15"   # 개봉 날짜를 글자(문자열)로 저장합니다.

# print는 화면에 내용을 보여주는 기능입니다.
print(movie_title)    # 저장한 영화 제목을 보여줍니다.
print(box_office)     # 저장한 관객 수를 보여줍니다.
print(screen_count)   # 저장한 상영관 수를 보여줍니다.
print(running_time)   # 저장한 러닝타임을 보여줍니다.
print(release_date)   # 저장한 개봉 날짜를 보여줍니다.

서울의 밤
1850000
120
128
2025-01-15

In [8]:
movie_title = "바람의 길"
box_office = 250000
release_date = "2025-10-03"
print(movie_title)
print(box_office)
print(release_date)

바람의 길
250000
2025-10-03

In [10]:
# 같은 정보를 여러 형태로 저장해 봅니다.
box_office = 1850000          # int(정수): 관객 수
rating = 8.37                 # float(실수): 소수점이 있는 평점
movie_title = "서울의 밤"     # str(문자열): 글자 데이터
is_new = True                 # bool(불리언): 참(True) 또는 거짓(False)

print(box_office)  # 정수값 출력
print(rating)      # 실수값 출력
print(movie_title) # 문자열 출력
print(is_new)      # 불리언 출력

# 타입(종류) 변환 예시: 숫자 -> 문자열
rating_text = str(rating)     # 숫자를 글자로 바꿉니다.
print(rating_text)

# 타입 변환 예시: 실수 -> 정수
rating_int = int(rating)      # 8.37을 8로 바꿉니다(소수점 버림)
print(rating_int)

# 타입 변환 예시: 정수 -> 실수
box_office_float = float(box_office)  # 1850000 -> 1850000.0
print(box_office_float)

1850000
8.37
서울의 밤
True
8.37
8
1850000.0

In [13]:
is_new = False
print(is_new)
is_new = True
print(is_new)
rating = 7.84
print(rating)
print(int(rating))
# 3) 관객 수를 문자열로 변환해 '명'과 함께 출력
print(str(box_office), "명")   # 쉼표(,)는 여러 값을 한 줄에 띄어쓰기로 이어서 보여줍니다.
print(str(box_office) + "명")  # +는 붙여서 보여줍니다.
print(f"{box_office}명")       # f를 쓰고 {}를 쓰면 변수를 가지고 올 수 있습니다.
print(f"{box_office:,}명")     # :, 세 자리마다 콤마 표시

False
True
7.84
7
1850000 명
1850000명
1850000명
1,850,000명

# 최근 3일간 일일 관객 수를 묶어서 보관해 봅니다.
recent_audience = [185000, 172000, 198000]  # 리스트: 대괄호 안에 값을 쉼표로 나열

print(recent_audience)       # 리스트 전체를 출력합니다.
print(recent_audience[0])    # 첫 번째 값(인덱스 0)을 출력합니다.
print(recent_audience[1])    # 두 번째 값(인덱스 1)을 출력합니다.
print(recent_audience[2])    # 세 번째 값(인덱스 2)을 출력합니다.

print(recent_audience[0:2])  # 첫 번째 값부터 세 번째 값(인덱스 2)전 까지를 출력합니다.
print(recent_audience[0:1])
print(recent_audience[:2])   # 세 번째 값(인덱스 2)전 까지를 출력합니다.
print(recent_audience[-1])   # 뒤에서 첫 번째 값을 출력합니다.
print(recent_audience[-2:])  # 뒤에서 두 번째 값부터 마지막까지 출력합니다.

# 새 관객 수 데이터가 한 건 더 생겼다고 가정하고 리스트에 '추가'해 봅니다.
recent_audience.append(201000)  # append는 리스트의 끝에 값을 하나 붙입니다.
print(recent_audience)          # 추가된 상태를 확인합니다.

# 새 데이터가 2건 더 생겼습니다. 리스트에 '추가'해 봅니다.
new_audience = [160000, 175000]
recent_audience.append(new_audience)  # append는 자료의 구조 그대로 추가
print(recent_audience)

# extend와의 차이를 이해합니다.
new_audience_extend = [220000, 230000]
recent_audience.extend(new_audience_extend) # extend는 자료의 구성을 분류에서 추
print(recent_audience)

In [16]:
# dict(사전형)는 '이름표:값' 형태로 정보를 보관합니다.
# 한 편의 영화 정보를 이름표를 붙여 보관해 봅니다.
movie = {
    "제목": "서울의 밤",
    "관객수": 1850000,
    "매출": 6500000000,
    "상영관": 120,
    "개봉일": "2025-01-15"
}

print(movie)               # dict 전체 출력
print(movie["제목"])       # '제목'에 해당하는 값을 보여줍니다.
print(movie["매출"])       # '매출' 값을 보여줍니다.

# list와 dict를 함께 사용해 '여러 편'을 표현할 수도 있습니다.
movies = [
    {"제목": "서울의 밤", "관객수": 1850000, "매출": 6500000000},
    {"제목": "라스트 퀘스트", "관객수": 1320000, "매출": 4800000000},
    {"제목": "블루 나이트", "관객수": 980000, "매출": 3200000000}
]

print(movies)               # 리스트에 dict가 3개 들어 있습니다.
print(movies[0]["관객수"])  # 첫 번째 영화의 관객 수

{'제목': '서울의 밤', '관객수': 1850000, '매출': 6500000000, '상영관': 120, '개봉일': '2025-01-15'}
서울의 밤
6500000000
[{'제목': '서울의 밤', '관객수': 1850000, '매출': 6500000000}, {'제목': '라스트 퀘스트', '관객수': 1320000, '매출': 4800000000}, {'제목': '블루 나이트', '관객수': 980000, '매출': 3200000000}]
1850000

In [19]:
print(movies[-2])

{'제목': '라스트 퀘스트', '관객수': 1320000, '매출': 4800000000}

In [20]:
# 1) dict에서 '상영관' 꺼내기
print(movie["상영관"])  # 120

120

In [21]:
movies.append({"제목":"바람의 길","관객수":1500000,"매출":5500000000})
print(movies)

[{'제목': '서울의 밤', '관객수': 1850000, '매출': 6500000000}, {'제목': '라스트 퀘스트', '관객수': 1320000, '매출': 4800000000}, {'제목': '블루 나이트', '관객수': 980000, '매출': 3200000000}, {'제목': '바람의 길', '관객수': 1500000, '매출': 5500000000}]

In [28]:
# 3) 두 번째 영화의 매출만 출력
print(movies[1]["매출"])
print(movies[-1]["관객수"])

4800000000
1500000

In [29]:
# 영화 제목과 관객 수를 변수에 저장합니다.
movie_title = "서울의 밤"
audience = 1850000      # 단위: 명

# 흥행 기준(목표 관객 수)을 변수로 정합니다.
target_audience = 2000000

# 관객 수가 기준보다 크거나 같은지 비교합니다.
if audience >= target_audience:
    print("흥행 성공: 기준을 넘었습니다.")   # 조건이 참(True)일 때 실행됩니다.
else:
    print("흥행 실패: 기준에 못 미쳤습니다.") # 조건이 거짓(False)일 때 실행됩니다.

흥행 실패: 기준에 못 미쳤습니다.

# 영화 제목과 관객 수를 변수에 저장합니다.
movie_title = "서울의 밤"
audience = 2100000      # 단위: 명

# 흥행 기준(목표 관객 수)을 변수로 정합니다.
target_audience = 2500000

# 관객 수가 기준보다 크거나 같은지 비교합니다.
if audience >= target_audience:
    print("흥행 성공: P.")   # 조건이 참(True)일 때 실행됩니다.
else:
    print("흥행 실패: 기준에 못 미쳤습니다.") # 조건이 거짓(False)일 때 실행됩니다.

In [40]:
# 영화 제목과 관객 수를 변수에 저장합니다.
movie_title = "서울의 밤"
audience = 2100000      # 단위: 명

# 흥행 기준(목표 관객 수)을 변수로 정합니다.
target_audience = 2500000

# 관객 수가 기준보다 크거나 같은지 비교합니다.
if audience >= target_audience:
    print("흥행 성공:", {movie_title})   # 조건이 참(True)일 때 실행됩니다.
else:
    print("흥행 실패:", movie_title) # 조건이 거짓(False)일 때 실행됩니다.

흥행 실패: 서울의 밤

In [43]:
# 관객 수에 따라 다른 메시지를 보여줍니다.
audience = 900000

# if, elif, else는 위에서부터 순서대로 검사합니다.
if audience >= 3000000:
    print("초대박")
elif audience >= 1500000:
    print("대박")
else:
    print("보통 이하")

보통 이하

In [45]:
# 관객 수에 따라 다른 메시지를 보여줍니다.
audience = 2100000

# if, elif, else는 위에서부터 순서대로 검사합니다.
if audience >= 2000000:
    print("상")
elif audience >= 1000000:
    print("중")
else:
    print("하")

상

In [50]:
# 조건을 만족할 때만 한 줄 출력하고, 아니면 아무 일도 하지 않습니다.
audience = 750000   # 단위: 명

if audience == 750000:  # 관객 수가 100만 명 미만이면
    print("관객 수가 75만 명입니다.")
# 조건이 거짓이면 출력이 없습니다.

관객 수가 75만 명입니다.

In [51]:
# 여러 일자의 관객 수를 리스트(목록)로 만들고 하나씩 출력합니다.
audiences = [730000, 815000, 990000]  # 단위: 명

for a in audiences:   # a는 리스트에서 하나씩 꺼낸 값
    print("관객 수:", a)  # 현재 꺼낸 값을 출력

관객 수: 730000
관객 수: 815000
관객 수: 990000

In [52]:
audiences.append(1200000)  # 리스트에 값 하나 추가
for a in audiences:
    print("관객 수:", a, "명")

관객 수: 730000 명
관객 수: 815000 명
관객 수: 990000 명
관객 수: 1200000 명

In [55]:
# range(시작, 끝)은 시작 숫자부터 끝-1까지 차례대로 만듭니다.
# 예: 상영 첫 3개월을 출력
for month in range(3, 8):  # 1, 2, 3
    print("월:", month)

월: 3
월: 4
월: 5
월: 6
월: 7

In [56]:
for n in range(5):  # 0,1,2,3,4
    print(n)

0
1
2
3
4

In [57]:
# 영화 제목 목록을 만들어 하나씩 출력합니다.
movies = ["서울의 밤", "라스트 퀘스트", "블루 나이트"]

for title in movies:
    print("영화:", title)

영화: 서울의 밤
영화: 라스트 퀘스트
영화: 블루 나이트

In [58]:
movies = ["서울의 밤", "라스트 퀘스트", "블루 나이트", "바람의 길"]
for title in movies:
    print("영화:", title)

영화: 서울의 밤
영화: 라스트 퀘스트
영화: 블루 나이트
영화: 바람의 길

In [59]:
for title in movies:
    print("관심 영화:", title)

관심 영화: 서울의 밤
관심 영화: 라스트 퀘스트
관심 영화: 블루 나이트
관심 영화: 바람의 길

In [60]:
# movies = ["해돋이", "라스트 퀘스트", "블루 나이트", "바람의 길"]
movies[0] = "해돋이"
for title in movies:
    print("영화:", title)

영화: 해돋이
영화: 라스트 퀘스트
영화: 블루 나이트
영화: 바람의 길

In [61]:
# 딕셔너리는 "이름:값" 처럼 짝으로 저장합니다.
movie_boxoffice = {"서울의 밤": 1850000, "라스트 퀘스트": 1320000}

# 키와 값을 하나씩 꺼내서 출력합니다.
for title in movie_boxoffice:
    audience = movie_boxoffice[title]  # 키로 값을 꺼냅니다.
    print(title, "관객 수:", audience)

서울의 밤 관객 수: 1850000
라스트 퀘스트 관객 수: 1320000

In [62]:
movie_boxoffice["블루 나이트"] = 980000
for title in movie_boxoffice:
    print(title, "관객 수:", movie_boxoffice[title])

서울의 밤 관객 수: 1850000
라스트 퀘스트 관객 수: 1320000
블루 나이트 관객 수: 980000

In [63]:
for title, audience in movie_boxoffice.items():
    print(title, "관객 수:", audience)

서울의 밤 관객 수: 1850000
라스트 퀘스트 관객 수: 1320000
블루 나이트 관객 수: 980000

In [64]:
for title, audience in movie_boxoffice.items():
    if audience >= 1500000:
        print(title, "관객 수:", audience)

서울의 밤 관객 수: 1850000

In [67]:
# enumerate는 리스트에 0부터 번호를 붙여 줍니다.
movies = ["서울의 밤", "라스트 퀘스트", "블루 나이트"]

for idx, title in enumerate(movies):
    print(idx+1, title, "트레일러 확인")  # idx는 0,1,2

idx = 0
for title in movies:
    print(idx, title)
    idx = idx + 1

1 서울의 밤 트레일러 확인
2 라스트 퀘스트 트레일러 확인
3 블루 나이트 트레일러 확인
0 서울의 밤
1 라스트 퀘스트
2 블루 나이트

In [68]:
# movies = ["서울의 밤", "라스트 퀘스트", "블루 나이트", "바람의 길"]
movies.append("바람의 길")
for idx, title in enumerate(movies):
    print(idx, title)

0 서울의 밤
1 라스트 퀘스트
2 블루 나이트
3 바람의 길

In [69]:
# 두 개의 리스트를 같은 위치끼리 묶어서 다룹니다.
movies = ["서울의 밤", "라스트 퀘스트", "블루 나이트"]
audiences = [1850000, 1320000, 980000]

for title, audience in zip(movies, audiences):
    print(title, "관객 수:", audience)

서울의 밤 관객 수: 1850000
라스트 퀘스트 관객 수: 1320000
블루 나이트 관객 수: 980000

In [70]:
movies = ["라스트 퀘스트", "서울의 밤", "블루 나이트"]
audiences = [1850000, 1320000, 980000]
for title, audience in zip(movies, audiences):
    print(title, "관객 수:", audience)

라스트 퀘스트 관객 수: 1850000
서울의 밤 관객 수: 1320000
블루 나이트 관객 수: 980000

In [71]:
movies = ["서울의 밤", "라스트 퀘스트", "블루 나이트"]
audiences = [1850000, 1320000]
for title, audience in zip(movies, audiences):  # 짧은 쪽에 맞춰 멈춥니다.
    print(title, "관객 수:", audience)

서울의 밤 관객 수: 1850000
라스트 퀘스트 관객 수: 1320000

In [72]:
movies = ["서울의 밤", "라스트 퀘스트", "블루 나이트"]
audiences = [1850000, 1320000, 980000]
for idx, (title, audience) in enumerate(zip(movies, audiences)):
    print(idx + 1, title, "관객 수:", audience)

1 서울의 밤 관객 수: 1850000
2 라스트 퀘스트 관객 수: 1320000
3 블루 나이트 관객 수: 980000

In [73]:
# 처음으로 100만(1,000,000) 이상인 관객 수를 만나면 멈춥니다.
audiences = [730000, 815000, 990000, 1200000, 880000]

for a in audiences:
    if a >= 1000000:
        print("백만 돌파 영화 관객 수 발견:", a)
        break  # 반복문을 즉시 종료합니다.

백만 돌파 영화 관객 수 발견: 1200000

In [75]:
audiences = [730000, 815000, 990000]
for a in audiences:
    print(a)
    if a >= 1000000:
        print("백만 돌파 영화 관객 수 발견:", a)
        break  # 이 줄이 실행되지 않습니다.
# 백만 돌파 관련 출력 없음

730000
815000
990000

In [76]:
audiences = [730000, 1200000, 990000]
for a in audiences:
    print(a)
    if a >= 1000000:
        print("백만 돌파 영화 관객 수 발견:", a)
        break

730000
1200000
백만 돌파 영화 관객 수 발견: 1200000

In [77]:
audiences = [730000, 1200000, 990000]
for a in audiences:
    print(a)
    if a >= 1000000:
        print("백만 돌파 영화 관객 수 발견:", a)
        # break를 사용하지 않으면 뒤에 있는 값들도 계속 확인합니다.

730000
1200000
백만 돌파 영화 관객 수 발견: 1200000
990000

In [78]:
# 80만 명(800,000) 미만은 건너뛰고, 그 이상만 출력합니다.
audiences = [730000, 815000, 990000, 650000]

for a in audiences:
    if a < 800000:
        continue  # 아래 코드를 건너뛰고 다음으로 갑니다.
        print("출력1:", a)
    else:
        print("출력2:", a)

출력2: 815000
출력2: 990000

In [80]:
# 80만 명(800,000) 미만은 건너뛰고, 그 이상만 출력합니다.
audiences = [730000, 815000, 990000, 650000]

for a in audiences:
    if a < 800000:
        # continue  # 아래 코드를 건너뛰고 다음으로 갑니다.
        print("출력1:", a)
    else:
        print("출력2:", a)

출력1: 730000
출력2: 815000
출력2: 990000
출력1: 650000

In [81]:
# while은 조건이 참(True)인 동안 계속 반복합니다.
# 예: 월별 관객 수 누적으로 목표 관객 수에 도달할 때까지 반복
total_audience = 0   # 현재까지 누적 관객 수
month = 0            # 지난 개월 수
monthly = 300000     # 매달 추가 관객 수(명)

target = 2000000     # 목표 관객 수

while total_audience < target:  # 목표에 도달하기 전까지 반복
    month = month + 1           # 한 달이 지났다고 기록
    total_audience = total_audience + monthly  # 관객 수를 더함
    print(month, "개월차 누적 관객 수:", total_audience)

1 개월차 누적 관객 수: 300000
2 개월차 누적 관객 수: 600000
3 개월차 누적 관객 수: 900000
4 개월차 누적 관객 수: 1200000
5 개월차 누적 관객 수: 1500000
6 개월차 누적 관객 수: 1800000
7 개월차 누적 관객 수: 2100000

In [82]:
total_audience = 0
month = 0
monthly = 300000
target = 2000000
while total_audience < target:
    month = month + 1
    total_audience = total_audience + monthly
    if total_audience >= 600000:
        print(month, "개월차 누적 관객 수:", total_audience)

2 개월차 누적 관객 수: 600000
3 개월차 누적 관객 수: 900000
4 개월차 누적 관객 수: 1200000
5 개월차 누적 관객 수: 1500000
6 개월차 누적 관객 수: 1800000
7 개월차 누적 관객 수: 2100000

In [83]:
# 특정 월에 상영 종료를 결정해서 반복을 멈춥니다.
month = 0

while True:  # 무한 반복처럼 보이지만
    month = month + 1
    print(month, "개월차 상영 중")
    if month == 3:  # 3개월 차에 상영 종료 결정
        print("상영 종료 결정, 반복 종료")
        break  # 여기서 끝냅니다.

1 개월차 상영 중
2 개월차 상영 중
3 개월차 상영 중
상영 종료 결정, 반복 종료

In [84]:
month = 0
while True:
    month = month + 1
    if month == 3:
        print("상영 종료 결정, 반복 종료")
        break
    print(month, "개월차 상영 중")

1 개월차 상영 중
2 개월차 상영 중
상영 종료 결정, 반복 종료

In [85]:
month = 1
while True:
    print(month, "개월차 상영 중")
    if month == 2:
        print("상영 종료 결정, 반복 종료")
        break
    month = month + 1

1 개월차 상영 중
2 개월차 상영 중
상영 종료 결정, 반복 종료

In [86]:
# 박스오피스 예시 데이터를 아주 작게 만듭니다.
movie_title = "서울의 밤"   # 영화 제목(문자열)
revenue = 5200              # 매출(만원 단위, 정수)
rating = 8.4                # 평점(실수)

# 함수 만들기: def로 시작하고, 이름() 다음에 콜론(:)을 씁니다.
def show_basic_info():
    # 이 함수는 화면에 간단한 정보를 보여줍니다. (입력값/반환값 없음)
    print("영화 제목:", movie_title)
    print("매출(만원):", revenue)
    print("평점:", rating)

# 함수 호출: 만든 함수 이름 뒤에 ()를 붙여 실행합니다.
show_basic_info()

영화 제목: 서울의 밤
매출(만원): 5200
평점: 8.4

In [87]:
# 3) 안내 문구 한 줄 추가
def show_basic_info():
    print("영화 제목:", movie_title)
    print("매출(만원):", revenue)
    print("평점:", rating)
    print("단위: 만원, 평점(점)")  # 추가된 줄

show_basic_info()

영화 제목: 서울의 밤
매출(만원): 5200
평점: 8.4
단위: 만원, 평점(점)