<a href="https://colab.research.google.com/github/songjeongmin86/20240716/blob/main/%EB%B3%80%EC%88%98%EC%99%80_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
score = 100
print(score)
print("반갑습니다")

100
반갑습니다

In [6]:
# 박스오피스 예시를 위한 아주 작은 데이터 만들기
movie_title = "서울의 밤"      # 영화 제목을 글자(문자열)로 저장합니다.
box_office = 1850000          # 관객 수를 숫자(정수)로 저장합니다. 단위: 명
screen_count = 120            # 상영관 수를 숫자(정수)로 저장합니다.
running_time = 128            # 러닝타임(분)을 숫자(정수)로 저장합니다.
release_date = "2025-01-15"   # 개봉 날짜를 글자(문자열)로 저장합니다.

# print는 화면에 내용을 보여주는 기능입니다.
print(movie_title)    # 저장한 영화 제목을 보여줍니다.
print(box_office)     # 저장한 관객 수를 보여줍니다.
print(screen_count)   # 저장한 상영관 수를 보여줍니다.
print(running_time)   # 저장한 러닝타임을 보여줍니다.
print(release_date)   # 저장한 개봉 날짜를 보여줍니다.

서울의 밤
1850000
120
128
2025-01-15

In [8]:
movie_title = "바람의 길"
box_office = 250000
release_date = "2025-10-03"
print(movie_title)
print(box_office)
print(release_date)

바람의 길
250000
2025-10-03

In [10]:
# 같은 정보를 여러 형태로 저장해 봅니다.
box_office = 1850000          # int(정수): 관객 수
rating = 8.37                 # float(실수): 소수점이 있는 평점
movie_title = "서울의 밤"     # str(문자열): 글자 데이터
is_new = True                 # bool(불리언): 참(True) 또는 거짓(False)

print(box_office)  # 정수값 출력
print(rating)      # 실수값 출력
print(movie_title) # 문자열 출력
print(is_new)      # 불리언 출력

# 타입(종류) 변환 예시: 숫자 -> 문자열
rating_text = str(rating)     # 숫자를 글자로 바꿉니다.
print(rating_text)

# 타입 변환 예시: 실수 -> 정수
rating_int = int(rating)      # 8.37을 8로 바꿉니다(소수점 버림)
print(rating_int)

# 타입 변환 예시: 정수 -> 실수
box_office_float = float(box_office)  # 1850000 -> 1850000.0
print(box_office_float)

1850000
8.37
서울의 밤
True
8.37
8
1850000.0

In [13]:
is_new = False
print(is_new)
is_new = True
print(is_new)
rating = 7.84
print(rating)
print(int(rating))
# 3) 관객 수를 문자열로 변환해 '명'과 함께 출력
print(str(box_office), "명")   # 쉼표(,)는 여러 값을 한 줄에 띄어쓰기로 이어서 보여줍니다.
print(str(box_office) + "명")  # +는 붙여서 보여줍니다.
print(f"{box_office}명")       # f를 쓰고 {}를 쓰면 변수를 가지고 올 수 있습니다.
print(f"{box_office:,}명")     # :, 세 자리마다 콤마 표시

False
True
7.84
7
1850000 명
1850000명
1850000명
1,850,000명

# 최근 3일간 일일 관객 수를 묶어서 보관해 봅니다.
recent_audience = [185000, 172000, 198000]  # 리스트: 대괄호 안에 값을 쉼표로 나열

print(recent_audience)       # 리스트 전체를 출력합니다.
print(recent_audience[0])    # 첫 번째 값(인덱스 0)을 출력합니다.
print(recent_audience[1])    # 두 번째 값(인덱스 1)을 출력합니다.
print(recent_audience[2])    # 세 번째 값(인덱스 2)을 출력합니다.

print(recent_audience[0:2])  # 첫 번째 값부터 세 번째 값(인덱스 2)전 까지를 출력합니다.
print(recent_audience[0:1])
print(recent_audience[:2])   # 세 번째 값(인덱스 2)전 까지를 출력합니다.
print(recent_audience[-1])   # 뒤에서 첫 번째 값을 출력합니다.
print(recent_audience[-2:])  # 뒤에서 두 번째 값부터 마지막까지 출력합니다.

# 새 관객 수 데이터가 한 건 더 생겼다고 가정하고 리스트에 '추가'해 봅니다.
recent_audience.append(201000)  # append는 리스트의 끝에 값을 하나 붙입니다.
print(recent_audience)          # 추가된 상태를 확인합니다.

# 새 데이터가 2건 더 생겼습니다. 리스트에 '추가'해 봅니다.
new_audience = [160000, 175000]
recent_audience.append(new_audience)  # append는 자료의 구조 그대로 추가
print(recent_audience)

# extend와의 차이를 이해합니다.
new_audience_extend = [220000, 230000]
recent_audience.extend(new_audience_extend) # extend는 자료의 구성을 분류에서 추
print(recent_audience)

In [16]:
# dict(사전형)는 '이름표:값' 형태로 정보를 보관합니다.
# 한 편의 영화 정보를 이름표를 붙여 보관해 봅니다.
movie = {
    "제목": "서울의 밤",
    "관객수": 1850000,
    "매출": 6500000000,
    "상영관": 120,
    "개봉일": "2025-01-15"
}

print(movie)               # dict 전체 출력
print(movie["제목"])       # '제목'에 해당하는 값을 보여줍니다.
print(movie["매출"])       # '매출' 값을 보여줍니다.

# list와 dict를 함께 사용해 '여러 편'을 표현할 수도 있습니다.
movies = [
    {"제목": "서울의 밤", "관객수": 1850000, "매출": 6500000000},
    {"제목": "라스트 퀘스트", "관객수": 1320000, "매출": 4800000000},
    {"제목": "블루 나이트", "관객수": 980000, "매출": 3200000000}
]

print(movies)               # 리스트에 dict가 3개 들어 있습니다.
print(movies[0]["관객수"])  # 첫 번째 영화의 관객 수

{'제목': '서울의 밤', '관객수': 1850000, '매출': 6500000000, '상영관': 120, '개봉일': '2025-01-15'}
서울의 밤
6500000000
[{'제목': '서울의 밤', '관객수': 1850000, '매출': 6500000000}, {'제목': '라스트 퀘스트', '관객수': 1320000, '매출': 4800000000}, {'제목': '블루 나이트', '관객수': 980000, '매출': 3200000000}]
1850000

In [19]:
print(movies[-2])

{'제목': '라스트 퀘스트', '관객수': 1320000, '매출': 4800000000}

In [20]:
# 1) dict에서 '상영관' 꺼내기
print(movie["상영관"])  # 120

120

In [21]:
movies.append({"제목":"바람의 길","관객수":1500000,"매출":5500000000})
print(movies)

[{'제목': '서울의 밤', '관객수': 1850000, '매출': 6500000000}, {'제목': '라스트 퀘스트', '관객수': 1320000, '매출': 4800000000}, {'제목': '블루 나이트', '관객수': 980000, '매출': 3200000000}, {'제목': '바람의 길', '관객수': 1500000, '매출': 5500000000}]

In [28]:
# 3) 두 번째 영화의 매출만 출력
print(movies[1]["매출"])
print(movies[-1]["관객수"])

4800000000
1500000